node-red/sensor-data-template/template.json
[
    {
        "id": "9357338e01a30d92",
        "type": "tab",
        "label": "tab 跳轉",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4f79fdad1c282705",
        "type": "tab",
        "label": "hello-world",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e8560f358cae048b",
        "type": "tab",
        "label": "bedroom",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b435fa1f0cb3b040",
        "type": "tab",
        "label": "living room",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "92d2ee6e5b09e9e8",
        "type": "tab",
        "label": "kitchen",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "5d81d50e014fd538",
        "type": "tab",
        "label": "master room",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "2655994f6874c67a",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "70cfa938d1a6f3e9",
        "type": "ui_group",
        "name": "sensor data",
        "tab": "1b7fd984aa23bbf2",
        "order": 1,
        "disp": false,
        "width": "14",
        "collapse": false,
        "className": ""
    },
    {
        "id": "80c78d71fd175fbf",
        "type": "ui_group",
        "d": true,
        "name": "Group 1",
        "tab": "fc4acb4da1369f93",
        "order": 2,
        "disp": false,
        "width": "14",
        "collapse": false,
        "className": ""
    },
    {
        "id": "fc4acb4da1369f93",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "1b7fd984aa23bbf2",
        "type": "ui_tab",
        "name": "bedroom",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": true
    },
    {
        "id": "590e1a4403a98581",
        "type": "ui_tab",
        "name": "kitchen",
        "icon": "dashboard",
        "order": 5,
        "disabled": false,
        "hidden": true
    },
    {
        "id": "bf27c1590187175e",
        "type": "ui_group",
        "name": "senor data",
        "tab": "590e1a4403a98581",
        "order": 1,
        "disp": false,
        "width": "14",
        "collapse": false,
        "className": ""
    },
    {
        "id": "654c532714216822",
        "type": "mqtt-broker",
        "name": "rpi3",
        "broker": "mqtt://rpi3.local",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "4ba5d415.d302ec",
        "type": "ui_group",
        "name": "floor plan",
        "tab": "fc4acb4da1369f93",
        "order": 1,
        "disp": false,
        "width": "16",
        "collapse": false,
        "className": ""
    },
    {
        "id": "81b1bdc3.9a60b8",
        "type": "ui_group",
        "name": "Hacks",
        "tab": "2f5baa7e.0221fe",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "2f5baa7e.0221fe",
        "type": "ui_tab",
        "name": "Settings",
        "icon": "timeline",
        "order": 2,
        "disabled": true,
        "hidden": false
    },
    {
        "id": "9f2da61.3353758",
        "type": "ui_group",
        "name": "AutomationExamples",
        "tab": "d6d3c358.5fb46",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "e2c488d6.e06ad8",
        "type": "ui_group",
        "name": "Flight",
        "tab": "d6d3c358.5fb46",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "d6d3c358.5fb46",
        "type": "ui_tab",
        "name": "UIToggles",
        "icon": "radio_button_checked",
        "order": 7,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "63115de6b1972cd9",
        "type": "linetoken",
        "name": "YCK"
    },
    {
        "id": "1c67a074.861f4",
        "type": "ui_group",
        "name": "Default",
        "tab": "8e4884bb.ff1388",
        "order": 1,
        "disp": true,
        "width": "6"
    },
    {
        "id": "8e4884bb.ff1388",
        "type": "ui_tab",
        "name": "testing",
        "icon": "dashboard",
        "order": 8
    },
    {
        "id": "52377bbe3c3d6c15",
        "type": "ui_tab",
        "name": "living room",
        "icon": "dashboard",
        "order": 4,
        "disabled": false,
        "hidden": true
    },
    {
        "id": "b973fd68fe795a1c",
        "type": "ui_group",
        "name": "Default",
        "tab": "52377bbe3c3d6c15",
        "order": 1,
        "disp": false,
        "width": "14",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f117ce1c7c2d8951",
        "type": "ui_spacer",
        "z": "b435fa1f0cb3b040",
        "name": "spacer",
        "group": "b973fd68fe795a1c",
        "order": 5,
        "width": 1,
        "height": 1
    },
    {
        "id": "f3f824d8acaf5cac",
        "type": "ui_spacer",
        "z": "b435fa1f0cb3b040",
        "name": "spacer",
        "group": "b973fd68fe795a1c",
        "order": 7,
        "width": 1,
        "height": 1
    },
    {
        "id": "f0112f1753123bd5",
        "type": "ui_spacer",
        "z": "b435fa1f0cb3b040",
        "name": "spacer",
        "group": "b973fd68fe795a1c",
        "order": 8,
        "width": 1,
        "height": 1
    },
    {
        "id": "f78b0a3bf4a213a7",
        "type": "ui_spacer",
        "z": "b435fa1f0cb3b040",
        "name": "spacer",
        "group": "b973fd68fe795a1c",
        "order": 9,
        "width": 1,
        "height": 1
    },
    {
        "id": "b3654f7d0582bc76",
        "type": "ui_spacer",
        "z": "9357338e01a30d92",
        "name": "spacer",
        "group": "70cfa938d1a6f3e9",
        "order": 5,
        "width": 1,
        "height": 1
    },
    {
        "id": "89f7b87a8adb1478",
        "type": "ui_spacer",
        "z": "9357338e01a30d92",
        "name": "spacer",
        "group": "70cfa938d1a6f3e9",
        "order": 7,
        "width": 1,
        "height": 1
    },
    {
        "id": "a2731906794234a3",
        "type": "ui_spacer",
        "z": "9357338e01a30d92",
        "name": "spacer",
        "group": "70cfa938d1a6f3e9",
        "order": 8,
        "width": 1,
        "height": 1
    },
    {
        "id": "18edc5331ac038f3",
        "type": "ui_spacer",
        "z": "9357338e01a30d92",
        "name": "spacer",
        "group": "70cfa938d1a6f3e9",
        "order": 9,
        "width": 1,
        "height": 1
    },
    {
        "id": "f22ba35bb9141970",
        "type": "ui_tab",
        "name": "master room",
        "icon": "dashboard",
        "order": 6,
        "disabled": false,
        "hidden": true
    },
    {
        "id": "d5323f44ca2adf10",
        "type": "ui_group",
        "name": "sensor",
        "tab": "f22ba35bb9141970",
        "order": 1,
        "disp": false,
        "width": "14",
        "collapse": false,
        "className": ""
    },
    {
        "id": "9079188d1557bf95",
        "type": "ui_spacer",
        "z": "5d81d50e014fd538",
        "name": "spacer",
        "group": "d5323f44ca2adf10",
        "order": 6,
        "width": 1,
        "height": 1
    },
    {
        "id": "f7bf91e49d6f330d",
        "type": "ui_spacer",
        "z": "5d81d50e014fd538",
        "name": "spacer",
        "group": "d5323f44ca2adf10",
        "order": 8,
        "width": 1,
        "height": 1
    },
    {
        "id": "1d75be9a8c3663ed",
        "type": "ui_spacer",
        "z": "5d81d50e014fd538",
        "name": "spacer",
        "group": "d5323f44ca2adf10",
        "order": 9,
        "width": 1,
        "height": 1
    },
    {
        "id": "212173ecc18e0c87",
        "type": "ui_spacer",
        "z": "5d81d50e014fd538",
        "name": "spacer",
        "group": "d5323f44ca2adf10",
        "order": 10,
        "width": 12,
        "height": 1
    },
    {
        "id": "5e8c5cb60233c63b",
        "type": "ui_spacer",
        "z": "92d2ee6e5b09e9e8",
        "name": "spacer",
        "group": "bf27c1590187175e",
        "order": 5,
        "width": 1,
        "height": 1
    },
    {
        "id": "0b6736527e624345",
        "type": "ui_spacer",
        "z": "92d2ee6e5b09e9e8",
        "name": "spacer",
        "group": "bf27c1590187175e",
        "order": 7,
        "width": 1,
        "height": 1
    },
    {
        "id": "499b42160c4c2bd4",
        "type": "ui_spacer",
        "z": "92d2ee6e5b09e9e8",
        "name": "spacer",
        "group": "bf27c1590187175e",
        "order": 8,
        "width": 1,
        "height": 1
    },
    {
        "id": "563d6a4c1154085f",
        "type": "ui_spacer",
        "z": "92d2ee6e5b09e9e8",
        "name": "spacer",
        "group": "bf27c1590187175e",
        "order": 9,
        "width": 1,
        "height": 1
    },
    {
        "id": "b80494bdcb98cbee",
        "type": "ui_button",
        "z": "9357338e01a30d92",
        "name": "",
        "group": "80c78d71fd175fbf",
        "order": 2,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "臥室",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "bedroom",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 210,
        "y": 60,
        "wires": [
            [
                "bd19f4282b1404ac"
            ]
        ]
    },
    {
        "id": "bd19f4282b1404ac",
        "type": "ui_ui_control",
        "z": "9357338e01a30d92",
        "name": "",
        "events": "all",
        "x": 360,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "0668f0062590e2ed",
        "type": "ui_button",
        "z": "9357338e01a30d92",
        "name": "",
        "group": "80c78d71fd175fbf",
        "order": 3,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "廚房",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "kitchen",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 210,
        "y": 100,
        "wires": [
            [
                "bd19f4282b1404ac"
            ]
        ]
    },
    {
        "id": "f26a59b.bdf94a8",
        "type": "ui_template",
        "z": "9357338e01a30d92",
        "group": "4ba5d415.d302ec",
        "name": "Get image click/touch coordinates",
        "order": 1,
        "width": 16,
        "height": 14,
        "format": "<img id=\"imgmap\" style=\"position: absolute; top: 0px; left: 0px;\" src=\"https://obs.line-scdn.net/0hcWuufstfPHhIDCu61uRDL3BaMAl7aiZxaj1wGmRcMBhjICwqJj5vGz5ba1Q2Oi8naDgkTmRea0hga38qIA/w1200\" draggable=\"false\">\n<div id=\"dot_bedroom\" style=\"position: absolute; top: 440px; left: 310px;background-color:black;border-radius:5px;height:10px;width:10px;border: 1px solid black;\" ></div>\n<img id=\"arrow_bedroom\" class=\"myArrow\" style=\"position: absolute; top: 433px; left: 303px; height: 25px; width: 25px; transform: rotate(135deg);\" src=\"https://cdn-icons-png.flaticon.com/512/109/109618.png\">\n\n<div id=\"dot_kitchen\" style=\"position: absolute; top: 560px; left: 550px;background-color:black;border-radius:5px;height:10px;width:10px;border: 1px solid black;\"></div>\n<img id=\"arrow_kitchen\" class=\"myArrow\" style=\"position: absolute; top: 553px; left: 543px; height: 25px; width: 25px; transform: rotate(135deg);\" src=\"https://cdn-icons-png.flaticon.com/512/109/109618.png\">\n\n<div id=\"dot_livingroom\" style=\"position: absolute; top: 280px; left: 710px;background-color:black;border-radius:5px;height:10px;width:10px;border: 1px solid black;\"></div>\n<img id=\"arrow_livingroom\" class=\"myArrow\" style=\"position: absolute; top: 273px; left: 703px; height: 25px; width: 25px; transform: rotate(135deg);\" src=\"https://cdn-icons-png.flaticon.com/512/109/109618.png\">\n\n<div id=\"dot_masterroom\" style=\"position: absolute; top: 280px; left: 250px;background-color:black;border-radius:5px;height:10px;width:10px;border: 1px solid black;\"></div>\n<img id=\"arrow_masterroom\" class=\"myArrow\" style=\"position: absolute; top: 273px; left: 243px; height: 25px; width: 25px; transform: rotate(135deg);\" src=\"https://cdn-icons-png.flaticon.com/512/109/109618.png\">\n\n<!-- <div id=\"coords\" style=\"color: black; z-index: 100; pointer-events:none;\"></div> -->\n<img id=\"imgcursor\" style=\"position: absolute; top: 0px; left: 0px; height: 40px; width: 40px \" src=\"http://www.pngall.com/wp-content/uploads/2017/05/Map-Marker-PNG-File.png\">\n<div id=\"redirectButt\" class=\"mybutt\" style=\"min-width: 5em; max-width: fit-content;height:1.5em; z-index: 110;opacity:0; padding: 0 10px \">None</div>\n\n<script>\nvar areas = {\"bedroom\":\"bedroom\",\"kitchen\":\"kitchen\",\"livingroom\":\"living room\",\"masterroom\":\"master room\"}\nvar boundary = {\n    \"bedroom\": {\n        block1: {\n            x: [0.2010, 0.4423],\n            y: [0.5304, 0.7449]\n        }\n    },\n    \"kitchen\": {\n        block1: {\n            x: [0.5437, 0.6742],\n            y: [0.7390, 0.7992]\n        },\n        block2: {\n            x: [0.5437, 0.7290],\n            y: [0.7992, 0.9285]\n        }\n    },\n    \"living room\": {\n        block1: {\n            x: [0.7172, 0.9561],\n            y: [0.2307, 0.5201]\n        }\n    },\n    \"master room\": {\n        block1: {\n            x: [0.1908, 0.3761],\n            y: [0.2071, 0.4966]\n        }\n    }\n\n}\nfunction findPlace(payload){\n    const target = payload;\n    const point = {\n        x: parseFloat(target.coordX),\n        y: parseFloat(target.coordY),\n    }\n    for (const [key, place] of Object.entries(boundary)){\n        for (const [_, block] of Object.entries(place)){\n            let inX = point.x > block.x[0] && point.x < block.x[1];\n            let inY=point.y> block.y[0] && point.y < block.y[1];\n            if(inX&&inY){ \n                return key;\n            }\n        }\n    }\n    return \"None\" ; \n}\n(function($scope){\n    $('#redirectButt').on('click',function(e){\n        $scope.send({\"payload\":  e.target.innerHTML})\n    })\n    for(const [key, place] of Object.entries(areas)){\n        $(`#dot_${key}`).on('dblclick',function(e){\n            $scope.send({\"payload\": place})\n        });\n        $(`#arrow_${key}`).on('dblclick',function(e){\n            $scope.send({\"payload\": place})\n        });\n    }\n\n})(scope);\n\n/* pin location (touch screen)*/\nfunction pinLocationMobile(e){\n    e.preventDefault();\n    const map = document.getElementById(\"imgmap\");\n    let rect = map.getBoundingClientRect();\n    let xCoordinate = ((e.touches[0].clientX - rect.left)/ (rect.right- rect.left)).toFixed(4);\n    let yCoordinate = ((e.touches[0].clientY - rect.top)/(rect.bottom - rect.top)).toFixed(4);\n    if (xCoordinate < 1 && xCoordinate > 0 && yCoordinate < 1 && yCoordinate > 0){\n        $(\"#coords\").text( \"X: \" + xCoordinate + \", Y: \" + yCoordinate);\n        $(\"#imgcursor\").css( \"left\", (e.touches[0].clientX - rect.left) - 20 ); // offset to half of the cursor's width\n        $(\"#imgcursor\").css( \"top\", (e.touches[0].clientY - rect.top) - 20 );  // offset to half of the cursor's height\n        \n        payload = findPlace({\"coordX\": xCoordinate, \"coordY\": yCoordinate})\n        \n        const place=payload;\n        const butt = document.getElementById(\"redirectButt\");\n        if(place!==\"None\"){\n            butt.innerHTML = place;\n            butt.style.opacity = 1;\n        }else{\n            butt.style.opacity = 0;\n        }\n        \n    }\n}\n/* pin location*/\nfunction pinLocation(e){\n    e.preventDefault();\n    const map = document.getElementById(\"imgmap\");\n    let rect = map.getBoundingClientRect();\n    let xCoordinate = ((e.clientX - rect.left)/ (rect.right- rect.left)).toFixed(4);\n    let yCoordinate = ((e.clientY - rect.top)/(rect.bottom - rect.top)).toFixed(4);\n    if (xCoordinate < 1 && xCoordinate> 0 && yCoordinate < 1 && yCoordinate> 0 && e.buttons == 1){\n        $(\"#coords\").text( \"X: \" + xCoordinate + \", Y: \" + yCoordinate);\n        $(\"#imgcursor\").css( \"left\", (e.clientX - rect.left) - 20); // offset to half of the cursor's width\n        $(\"#imgcursor\").css( \"top\", (e.clientY - rect.top) - 20 ); // offset to half of the cursor's height\n\n        //$scope.send({\"payload\":{\"coordX\": xCoordinate, \"coordY\": yCoordinate}});\n        payload = findPlace({\"coordX\": xCoordinate, \"coordY\": yCoordinate})\n\n        const place=payload;\n        const butt = document.getElementById(\"redirectButt\");\n        if(place!==\"None\"){\n            butt.innerHTML = place;\n            butt.style.opacity = 1;\n        }else{\n            butt.style.opacity = 0;\n        }\n    }\n}\n\n(function($scope) {\n    $('#imgmap').on('touchstart touchmove',pinLocationMobile);\n    $('#imgmap').on('mousemove mousedown mouseup',pinLocation);\n\n    for(const [key, place] of Object.entries(areas)){\n        $(`#dot_${key}`).on('touchstart touchmove',pinLocationMobile);\n        $(`#dot_${key}`).on('mousemove click',pinLocation);\n\n        $(`#arrow_${key}`).on('touchstart touchmove',pinLocationMobile);\n        $(`#arrow_${key}`).on('mousemove click',pinLocation);\n    }\n\n    $('#imgcursor').on('touchstart touchmove',pinLocationMobile);\n    $('#imgcursor').on('mousemove mousedown mouseup',pinLocation);\n})(scope);\n\n(function($scope){\n    $scope.$watch('msg', function(){\n        const place = $scope.msg.payload.place;\n        const color = $scope.msg.payload.color;\n        $(`#dot_${place}`).css(\"background-color\",color);\n        if(color==\"red\"){\n            $(`#arrow_${place}`).css(\"opacity\",1);\n        }\n    })\n    $scope.$watch('msg', function(){\n        if ($scope.msg.topic!==\"state\")return;\n        const paths = $scope.msg.payload;\n        for(const [key, degree] of Object.entries(paths)){\n            $(`#arrow_${key}`).css(\"transform\", `rotate(${degree})`);\n            if($scope.msg.path === \"NORMAL\"){\n                $(`#arrow_${key}`).css(\"opacity\",0);\n            }else {\n                $(`#arrow_${key}`).css(\"opacity\",1);\n            }\n        }\n    })\n})(scope);\n</script>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 840,
        "y": 240,
        "wires": [
            [
                "6cd299df2cf118bd"
            ]
        ]
    },
    {
        "id": "6cd299df2cf118bd",
        "type": "ui_ui_control",
        "z": "9357338e01a30d92",
        "name": "",
        "events": "all",
        "x": 960,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "dd5f965e.fb70b8",
        "type": "ui_template",
        "z": "9357338e01a30d92",
        "group": "81b1bdc3.9a60b8",
        "name": "CSS-Basics",
        "order": 2,
        "width": 0,
        "height": 0,
        "format": "<style>\n/*\n* {\n    background: none !important;\n}*/\n\n    root, a, button, p, div {\n        -webkit-user-select: none !important;\n    }\n    p font{\n        display: flex;\n        text-align:center;\n    }\n    .nr-dashboard-template p{\n        background: none !important;\n    }\n    body {\n        /*background-image: url(\"http://192.168.178.1:1880/ui/2023.jpg\");*/\n        /*background: linear-gradient(120deg, rgba(40, 42, 49, 1.0) 40%, rgba(47, 49, 56, 1.0) 80%) !important;*/\n        /*background-size: cover !important;*/\n        background: transparent !important;\n\n        background: -webkit-linear-gradient(\n            55deg,\n            #009785 0%,\n            #245aa5 100%\n        ) !important;\n        \n        -webkit-touch-callout: none !important;\n        color: #ffffff !important;\n        padding-top:5px !important;\n    }\n    \n    body.nr-dashboard-theme md-toolbar,\n    body.nr-dashboard-theme md-content md-card {\n\n    }\n\n    \n    ui-card-panel {\n        background-color: rgba(250,250,250,0.3) !important;\n        border:none !important;\n        border-radius: 10px !important;\n/*        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 4px 8px 0 rgba(0, 0, 0, 0.19) !important;\n*/    }\n\n    ui-card-panel>div.nr-dashboard-cardpanel>div>md-card {\n        background: none !important;\n    }\n    ui-card-panel>div.nr-dashboard-cardpanel button {\n        /*background: none !important;*/\n    } \n    md-toolbar {\n        background: none !important;\n    }\n    md-sidenav {\n        background: linear-gradient(120deg, rgba(40, 42, 49, 0.90) 20%, rgba(47, 49, 56, 0.90) 80%) !important;\n    }\n    md-card.nr-dashboard-button * {\n        box-shadow: none !important;\n    }\n    /*md-card.nr-dashboard-template * {\n        background: none !important;\n    }*/\n    \n</style>\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "global",
        "className": "",
        "x": 270,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "2071531519d8ab32",
        "type": "ui_template",
        "z": "9357338e01a30d92",
        "group": "81b1bdc3.9a60b8",
        "name": "mybutt css",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<style>\n    .mybutt{\n        color: white;\n        background: border-box !important;\n        background-color: #0047AB !important;\n        border-radius: 10px;\n        display:flex;\n        align-content: center;\n        justify-content: center;\n    }\n\n    .mybutt:hover {\n        color: black;\n        background-color: #89CFF0 !important;\n    }\n    .myArrow {\n        animation: blinker 1s linear infinite;\n    }\n    .myArrow:hover {\n        animation: none;\n    }\n    @keyframes blinker {\n        50% {\n            opacity: 0;\n        }\n    }\n</style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "global",
        "className": "",
        "x": 270,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "c97ad871543274fa",
        "type": "link in",
        "z": "9357338e01a30d92",
        "name": "floor plan display",
        "links": [
            "07039cea834378fa",
            "28f138029255fbe1",
            "33a0094d6ccb0164",
            "e862d0dadea0ac5b"
        ],
        "x": 35,
        "y": 240,
        "wires": [
            [
                "f26a59b.bdf94a8",
                "5d9f4fb4dc1b462f"
            ]
        ]
    },
    {
        "id": "b2772c54688b0846",
        "type": "finite-state-machine",
        "z": "9357338e01a30d92",
        "name": "paths type",
        "fsmDefinition": "{\"state\":{\"status\":\"NORMAL\"},\"transitions\":{\"NORMAL\":{\"normal\":\"NORMAL\",\"bedroom\":\"PATH_A\",\"kitchen\":\"PATH_B\",\"livingroom\":\"PATH_C\",\"masterroom\":\"PATH_D\",\"reset\":\"NORMAL\"},\"PATH_A\":{\"normal\":\"PATH_A\",\"bedroom\":\"PATH_A\",\"kitchen\":\"PATH_A\",\"livingroom\":\"PATH_A\",\"masterroom\":\"PATH_A\",\"reset\":\"NORMAL\"},\"PATH_B\":{\"normal\":\"PATH_B\",\"bedroom\":\"PATH_B\",\"kitchen\":\"PATH_B\",\"livingroom\":\"PATH_B\",\"masterroom\":\"PATH_B\",\"reset\":\"NORMAL\"},\"PATH_C\":{\"normal\":\"PATH_C\",\"bedroom\":\"PATH_C\",\"kitchen\":\"PATH_C\",\"livingroom\":\"PATH_C\",\"masterroom\":\"PATH_C\",\"reset\":\"NORMAL\"},\"PATH_D\":{\"normal\":\"PATH_D\",\"bedroom\":\"PATH_D\",\"kitchen\":\"PATH_D\",\"livingroom\":\"PATH_D\",\"masterroom\":\"PATH_D\",\"reset\":\"NORMAL\"}}}",
        "sendInitialState": true,
        "sendStateWithoutChange": false,
        "showTransitionErrors": true,
        "x": 330,
        "y": 280,
        "wires": [
            [
                "29d9c877afb8317f"
            ]
        ]
    },
    {
        "id": "5d9f4fb4dc1b462f",
        "type": "function",
        "z": "9357338e01a30d92",
        "name": "where is on fire",
        "func": "const { place, color } = msg.payload;\nmsg.topic = \"normal\"\nmsg.data = { place, color }\nmsg.control = {}\nif (color === \"red\") msg.topic = place;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 140,
        "y": 280,
        "wires": [
            [
                "b2772c54688b0846"
            ]
        ]
    },
    {
        "id": "29d9c877afb8317f",
        "type": "function",
        "z": "9357338e01a30d92",
        "name": "assign path",
        "func": "const PATH = {\n    \"PATH_A\":{\n        \"bedroom\": \"135deg\",\n        \"kitchen\": \"90deg\",\n        \"livingroom\": \"270deg\",\n        \"masterroom\": \"0deg\"\n    },\n    \"PATH_B\": {\n        \"bedroom\": \"75deg\",\n        \"kitchen\": \"0deg\",\n        \"livingroom\": \"180deg\",\n        \"masterroom\": \"90deg\"\n    },\n    \"PATH_C\": {\n        \"bedroom\": \"45deg\",\n        \"kitchen\": \"90deg\",\n        \"livingroom\": \"180deg\",\n        \"masterroom\": \"90deg\"\n    },\n    \"default\":{\n        \"bedroom\": \"135deg\",\n        \"kitchen\": \"90deg\",\n        \"livingroom\": \"270deg\",\n        \"masterroom\": \"180deg\"\n    }\n}\nconst type = msg.payload.status;\nif (PATH[type] === undefined) msg.payload = PATH[\"default\"];\nelse msg.payload = PATH[type];\nmsg.path = type;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 280,
        "wires": [
            [
                "e4fce5fb05254de8",
                "ec55de35b196061c"
            ]
        ]
    },
    {
        "id": "e4fce5fb05254de8",
        "type": "rbe",
        "z": "9357338e01a30d92",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "path",
        "topi": "topic",
        "x": 630,
        "y": 280,
        "wires": [
            [
                "f26a59b.bdf94a8"
            ]
        ]
    },
    {
        "id": "ec55de35b196061c",
        "type": "debug",
        "z": "9357338e01a30d92",
        "name": "debug 15",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 320,
        "wires": []
    },
    {
        "id": "c5274b54a9775451",
        "type": "inject",
        "z": "9357338e01a30d92",
        "name": "reset",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "reset",
        "payload": "",
        "payloadType": "date",
        "x": 90,
        "y": 340,
        "wires": [
            [
                "b2772c54688b0846",
                "1765ee585273167c"
            ]
        ]
    },
    {
        "id": "1765ee585273167c",
        "type": "link out",
        "z": "9357338e01a30d92",
        "name": "reset",
        "mode": "link",
        "links": [
            "83c896b0d0c3cfbd",
            "69c5693719c5afac",
            "d6ac4f62ad49c8d6",
            "838f2d8bc711e907"
        ],
        "x": 235,
        "y": 340,
        "wires": []
    },
    {
        "id": "a433e237cd1c112c",
        "type": "http in",
        "z": "4f79fdad1c282705",
        "name": "",
        "url": "/hello-world",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 180,
        "y": 140,
        "wires": [
            [
                "418d78b6169be4ac"
            ]
        ]
    },
    {
        "id": "418d78b6169be4ac",
        "type": "template",
        "z": "4f79fdad1c282705",
        "name": "hello world page",
        "field": "payload",
        "fieldType": "msg",
        "format": "html",
        "syntax": "plain",
        "template": "<!DOCTYPE html>\n<html>\n<head>\n\t<title>Hello</title>\n\n\t<h1>Hello World</h1>\n</head>\n<body>\n\n<p> This is a demo on how to create webpages and dashboards </p>\n</body>\n</html>",
        "output": "str",
        "x": 420,
        "y": 140,
        "wires": [
            [
                "9c61cddd2cb9d6d9"
            ]
        ]
    },
    {
        "id": "9c61cddd2cb9d6d9",
        "type": "http response",
        "z": "4f79fdad1c282705",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 630,
        "y": 140,
        "wires": []
    },
    {
        "id": "6ce83436cef07a13",
        "type": "random",
        "z": "e8560f358cae048b",
        "name": "偵煙器",
        "low": "0",
        "high": "1",
        "inte": "true",
        "property": "payload",
        "x": 250,
        "y": 100,
        "wires": [
            [
                "460bac982611fbe0"
            ]
        ]
    },
    {
        "id": "7a8faf3792d53b4e",
        "type": "random",
        "z": "e8560f358cae048b",
        "name": "CO(ppm)",
        "low": "0",
        "high": 10,
        "inte": "false",
        "property": "payload",
        "x": 260,
        "y": 200,
        "wires": [
            [
                "efbc055c842936f4"
            ]
        ]
    },
    {
        "id": "7e33b60b7a665815",
        "type": "random",
        "z": "e8560f358cae048b",
        "name": "溫度",
        "low": "-10",
        "high": "50",
        "inte": "false",
        "property": "payload",
        "x": 250,
        "y": 300,
        "wires": [
            [
                "14bfebf6f842cd86"
            ]
        ]
    },
    {
        "id": "c1a7927f9c2e08b2",
        "type": "join",
        "z": "e8560f358cae048b",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "1",
        "count": "3",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 570,
        "y": 200,
        "wires": [
            [
                "a79ccc4d0952d01c"
            ]
        ]
    },
    {
        "id": "ea9045affbb97a51",
        "type": "debug",
        "z": "e8560f358cae048b",
        "name": "combine",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 100,
        "wires": []
    },
    {
        "id": "460bac982611fbe0",
        "type": "change",
        "z": "e8560f358cae048b",
        "name": "add topic",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "smoke",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 100,
        "wires": [
            [
                "c1a7927f9c2e08b2"
            ]
        ]
    },
    {
        "id": "efbc055c842936f4",
        "type": "change",
        "z": "e8560f358cae048b",
        "name": "add topic",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "CO",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 200,
        "wires": [
            [
                "c1a7927f9c2e08b2"
            ]
        ]
    },
    {
        "id": "14bfebf6f842cd86",
        "type": "change",
        "z": "e8560f358cae048b",
        "name": "add topic",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "temperture",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 300,
        "wires": [
            [
                "c1a7927f9c2e08b2"
            ]
        ]
    },
    {
        "id": "379dbde4a2782226",
        "type": "inject",
        "z": "e8560f358cae048b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 90,
        "y": 200,
        "wires": [
            [
                "6ce83436cef07a13",
                "7a8faf3792d53b4e",
                "7e33b60b7a665815"
            ]
        ]
    },
    {
        "id": "a79ccc4d0952d01c",
        "type": "link out",
        "z": "e8560f358cae048b",
        "name": "link out 1",
        "mode": "link",
        "links": [
            "be18d055f36a6adf",
            "c5d9f970a3cd4527",
            "5464f337da3258e4",
            "0d4b89c521373893"
        ],
        "x": 905,
        "y": 200,
        "wires": []
    },
    {
        "id": "be18d055f36a6adf",
        "type": "link in",
        "z": "e8560f358cae048b",
        "name": "link in 1",
        "links": [
            "a79ccc4d0952d01c"
        ],
        "x": 255,
        "y": 420,
        "wires": [
            [
                "c16f0753630f1a4d"
            ]
        ]
    },
    {
        "id": "c16f0753630f1a4d",
        "type": "function",
        "z": "e8560f358cae048b",
        "name": "function 2",
        "func": "if(msg.payload.smoke===0){\n    msg.payload.color =\"#008000\"; //\"green\";\n}else{\n    msg.payload.color = \"#b22222\"; // \"firebrick\";\n}\nmsg.topic = \"e1@cx_color\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 420,
        "wires": [
            [
                "c853ffe4ebacafb0"
            ]
        ]
    },
    {
        "id": "c853ffe4ebacafb0",
        "type": "ui_template",
        "z": "e8560f358cae048b",
        "group": "70cfa938d1a6f3e9",
        "name": "煙霧顯示",
        "order": 6,
        "width": 1,
        "height": 2,
        "format": "<div id=\"graphics\" ng-init=\"checkSVG()\">\n    <p id=\"e1_text\">煙霧</p>\n    <svg xmlns=\"http://www.w3.org/2000/svg\" xmlns:xlink=\"http://www.w3.org/1999/xlink\" x=\"0\" y=\"0\" height=\"34\"\n        viewBox=\"0 0 34 34\" width=\"34\" preserveAspectRatio=\"xMidYMid meet\">\n        <circle id=\"e1_circle\" cx=\"17\" cy=\"17\" style=\"fill:green;stroke-width:0px;overflow:hidden\" r=\"16\" />\n    </svg>\n    <script>\n        (function($scope) {\n                $scope.$watch('msg', function() {\n                    if (!$scope.msg) return;\n                    const color=$scope.msg.payload?.color;\n                    const topic=$scope.msg.topic;\n                    if (color === undefined || color === null ||\n                        !topic || typeof topic !== 'string' || !topic.includes('@')) return;\n                    const id = topic.split('@')[0], cxType = topic.split('@')[1];\n                    document.getElementById(id+\"_circle\").style.fill=color;\n                    document.getElementById(id+\"_text\").style.cssText = `color:${color} !important;font-weight:bold` ;\n                });\n            })(scope);\n    </script>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 500,
        "y": 420,
        "wires": [
            [
                "ede363f70475f87f"
            ]
        ]
    },
    {
        "id": "ede363f70475f87f",
        "type": "debug",
        "z": "e8560f358cae048b",
        "name": "debug 9",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 420,
        "wires": []
    },
    {
        "id": "c5d9f970a3cd4527",
        "type": "link in",
        "z": "e8560f358cae048b",
        "name": "link in 2",
        "links": [
            "a79ccc4d0952d01c"
        ],
        "x": 255,
        "y": 480,
        "wires": [
            [
                "f07a896dabaaa12d"
            ]
        ]
    },
    {
        "id": "f07a896dabaaa12d",
        "type": "function",
        "z": "e8560f358cae048b",
        "name": "溫度",
        "func": "msg.payload = msg.payload.temperture;\nmsg.topic = \"temperture\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 480,
        "wires": [
            [
                "677c5a163af1e20e"
            ]
        ]
    },
    {
        "id": "4be9ebd6f293c3e4",
        "type": "debug",
        "z": "e8560f358cae048b",
        "name": "debug 10",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 480,
        "wires": []
    },
    {
        "id": "677c5a163af1e20e",
        "type": "ui_chart",
        "z": "e8560f358cae048b",
        "name": "",
        "group": "70cfa938d1a6f3e9",
        "order": 3,
        "width": 11,
        "height": 5,
        "label": "溫度",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "-10",
        "ymax": "50",
        "removeOlder": "2",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 490,
        "y": 480,
        "wires": [
            [
                "4be9ebd6f293c3e4"
            ]
        ]
    },
    {
        "id": "5464f337da3258e4",
        "type": "link in",
        "z": "e8560f358cae048b",
        "name": "link in 3",
        "links": [
            "a79ccc4d0952d01c"
        ],
        "x": 255,
        "y": 540,
        "wires": [
            [
                "e02d327b0b4301f1"
            ]
        ]
    },
    {
        "id": "e02d327b0b4301f1",
        "type": "function",
        "z": "e8560f358cae048b",
        "name": "CO",
        "func": "msg.payload = msg.payload.CO;\nmsg.topic = \"CO\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 540,
        "wires": [
            [
                "e512ca87739ddc01"
            ]
        ]
    },
    {
        "id": "b5131ef7b5556fad",
        "type": "debug",
        "z": "e8560f358cae048b",
        "name": "debug 11",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 540,
        "wires": []
    },
    {
        "id": "e512ca87739ddc01",
        "type": "ui_chart",
        "z": "e8560f358cae048b",
        "name": "",
        "group": "70cfa938d1a6f3e9",
        "order": 10,
        "width": 14,
        "height": 4,
        "label": "CO(ppm)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "50",
        "removeOlder": "2",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 500,
        "y": 540,
        "wires": [
            [
                "b5131ef7b5556fad"
            ]
        ]
    },
    {
        "id": "9bcba2472efd6980",
        "type": "ui_text",
        "z": "e8560f358cae048b",
        "group": "70cfa938d1a6f3e9",
        "order": 4,
        "width": 3,
        "height": 2,
        "name": "",
        "label": "status",
        "format": "<font face='arial'><font size=6><font color={{msg.payload.color}}>{{msg.payload.message}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 690,
        "y": 740,
        "wires": []
    },
    {
        "id": "0d4b89c521373893",
        "type": "link in",
        "z": "e8560f358cae048b",
        "name": "link in 4",
        "links": [
            "a79ccc4d0952d01c"
        ],
        "x": 255,
        "y": 600,
        "wires": [
            [
                "a631e33934a6406c",
                "2b1ca02fdde12125"
            ]
        ]
    },
    {
        "id": "a631e33934a6406c",
        "type": "function",
        "z": "e8560f358cae048b",
        "name": "check condition",
        "func": "const {smoke,temperture,CO }= msg.payload;\n\nif (temperture >= 40 || (smoke === 1&&CO>=8)){\n    msg.payload={message:\"Fire\",color:\"red\"};\n} else if (smoke===1) {\n    msg.payload = { message: \"Smoke Detected\", color: \"orange\" };\n}else if (CO >= 8) {\n    msg.payload = { message: \"CO Too High\", color: \"orange\" };\n}else{\n    msg.payload = { message: \"Normal\", color: \"Green\" };\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 600,
        "wires": [
            [
                "df05b67d51fe2b02"
            ]
        ]
    },
    {
        "id": "df05b67d51fe2b02",
        "type": "debug",
        "z": "e8560f358cae048b",
        "name": "debug 12",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 600,
        "wires": []
    },
    {
        "id": "85414c586a5d57c9",
        "type": "mqtt in",
        "z": "e8560f358cae048b",
        "name": "",
        "topic": "/rpi/CO",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "654c532714216822",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 590,
        "y": 100,
        "wires": [
            [
                "ea9045affbb97a51",
                "c1dce7859b159e57"
            ]
        ]
    },
    {
        "id": "c1dce7859b159e57",
        "type": "function",
        "z": "e8560f358cae048b",
        "name": "convert data",
        "func": "let {ppm,temp}=msg.payload;\n\nmsg.payload = {smoke:0,CO:ppm,temperture:temp};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 160,
        "wires": [
            [
                "a79ccc4d0952d01c"
            ]
        ]
    },
    {
        "id": "33a0094d6ccb0164",
        "type": "link out",
        "z": "e8560f358cae048b",
        "name": "bedroom status",
        "mode": "link",
        "links": [
            "c97ad871543274fa"
        ],
        "x": 655,
        "y": 700,
        "wires": []
    },
    {
        "id": "814faab247c65d5c",
        "type": "finite-state-machine",
        "z": "e8560f358cae048b",
        "name": "",
        "fsmDefinition": "{\"state\":{\"status\":\"Normal\",\"data\":{\"x\":5}},\"transitions\":{\"Normal\":{\"temperture\":\"Fire\",\"CO\":\"CO too High\",\"smoke\":\"Smoke Detected\",\"temperture_CO\":\"Fire\",\"temperture_smoke\":\"Fire\",\"CO_smoke\":\"Potential Fire\",\"temperture_CO_smoke\":\"Fire\",\"test\":\"Fire\",\"normal\":\"Normal\",\"expire\":\"Normal\",\"reset\":\"Normal\"},\"Fire\":{\"temperture\":\"Fire\",\"CO\":\"Fire\",\"smoke\":\"Fire\",\"temperture_CO\":\"Fire\",\"temperture_smoke\":\"Fire\",\"CO_smoke\":\"Fire\",\"temperture_CO_smoke\":\"Fire\",\"test\":\"Fire\",\"normal\":\"Fire\",\"expire\":\"Fire\",\"reset\":\"Normal\"},\"CO too High\":{\"temperture\":\"Fire\",\"CO\":\"CO too High\",\"smoke\":\"Potential Fire\",\"temperture_CO\":\"Fire\",\"temperture_smoke\":\"Fire\",\"CO_smoke\":\"Potential Fire\",\"temperture_CO_smoke\":\"Fire\",\"normal\":\"CO too High\",\"expire\":\"Normal\",\"reset\":\"Normal\"},\"Smoke Detected\":{\"temperture\":\"Fire\",\"CO\":\"Potential Fire\",\"smoke\":\"Smoke Detected\",\"temperture_CO\":\"Fire\",\"temperture_smoke\":\"Fire\",\"CO_smoke\":\"Potential Fire\",\"temperture_CO_smoke\":\"Fire\",\"normal\":\"Smoke Detected\",\"expire\":\"Normal\",\"reset\":\"Normal\"},\"Potential Fire\":{\"temperture\":\"Fire\",\"CO\":\"Potential Fire\",\"smoke\":\"Potential Fire\",\"temperture_CO\":\"Fire\",\"temperture_smoke\":\"Fire\",\"CO_smoke\":\"Potential Fire\",\"temperture_CO_smoke\":\"Fire\",\"normal\":\"Potential Fire\",\"expire\":\"Normal\",\"reset\":\"Normal\"}}}",
        "sendInitialState": false,
        "sendStateWithoutChange": false,
        "showTransitionErrors": true,
        "x": 310,
        "y": 740,
        "wires": [
            [
                "9c656d3cd2d9fa07",
                "2c598d101a865fca"
            ]
        ]
    },
    {
        "id": "2b1ca02fdde12125",
        "type": "function",
        "z": "e8560f358cae048b",
        "name": "check transition to FSM",
        "func": "const TEMP_ERROR_LIMIT = 40; // in C\nconst CO_ERROR_LIMIT = 15; // in ppm\n\nconst { smoke, temperture, CO } = msg.payload;\nmsg.topic = \"\"\nmsg.data = {smoke, temperture, CO}\nmsg.control = {}\n\nif (temperture >= TEMP_ERROR_LIMIT) {\n    msg.topic += \"temperture\";\n}\nif (CO >= CO_ERROR_LIMIT) {\n    if (msg.topic !== \"\") msg.topic += \"_\";\n    msg.topic += \"CO\";\n}\nif (smoke === 1) {\n    if (msg.topic !== \"\") msg.topic += \"_\";\n    msg.topic += \"smoke\";\n} \nif (msg.topic===\"\"){\n    msg.topic = \"normal\";\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 190,
        "y": 680,
        "wires": [
            [
                "814faab247c65d5c",
                "6994c0a484d14649"
            ]
        ]
    },
    {
        "id": "e4f7d576a1ed45ac",
        "type": "debug",
        "z": "e8560f358cae048b",
        "name": "state",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 820,
        "wires": []
    },
    {
        "id": "6994c0a484d14649",
        "type": "debug",
        "z": "e8560f358cae048b",
        "name": "trasition",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 680,
        "wires": []
    },
    {
        "id": "79a06b2fbe05deb9",
        "type": "inject",
        "z": "e8560f358cae048b",
        "name": "reset",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "reset",
        "payload": "",
        "payloadType": "date",
        "x": 90,
        "y": 740,
        "wires": [
            [
                "814faab247c65d5c"
            ]
        ]
    },
    {
        "id": "9c656d3cd2d9fa07",
        "type": "function",
        "z": "e8560f358cae048b",
        "name": "function 3",
        "func": "msg.state_color = {\n    \"Normal\": \"green\",\n    \"Fire\": \"red\",\n    \"CO too High\": \"orange\",\n    \"Smoke Detected\": \"orange\",\n    \"Potential Fire\": \"orange\"\n}\nmsg.payload = {\n    place: \"bedroom\",\n    message: msg.payload.status,\n    color: msg.state_color[msg.payload.status]\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 740,
        "wires": [
            [
                "e4f7d576a1ed45ac",
                "9bcba2472efd6980",
                "33a0094d6ccb0164",
                "da2a2e1b1e44c512"
            ]
        ]
    },
    {
        "id": "2c598d101a865fca",
        "type": "debug",
        "z": "e8560f358cae048b",
        "name": "debug 14",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 820,
        "wires": []
    },
    {
        "id": "fa3db0c267a1be77",
        "type": "line-notify",
        "z": "e8560f358cae048b",
        "name": "test YCK",
        "message": "",
        "contentType": "message",
        "imageThumbnail": "",
        "imageUrl": "",
        "sticker": "default",
        "stickerPackageId": "1",
        "stickerId": "1",
        "silent": false,
        "creds": "63115de6b1972cd9",
        "x": 980,
        "y": 920,
        "wires": [
            []
        ]
    },
    {
        "id": "45071ec317cfdd3f",
        "type": "inject",
        "z": "e8560f358cae048b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 270,
        "y": 920,
        "wires": [
            [
                "da2a2e1b1e44c512"
            ]
        ]
    },
    {
        "id": "da2a2e1b1e44c512",
        "type": "rbe",
        "z": "e8560f358cae048b",
        "name": "block the same value",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 600,
        "y": 920,
        "wires": [
            [
                "fef22398b5dcad8b"
            ]
        ]
    },
    {
        "id": "fef22398b5dcad8b",
        "type": "function",
        "z": "e8560f358cae048b",
        "name": "modify message",
        "func": "const place = \"bedroom\"\nif (msg.payload.message==\"Normal\"){\n    return;\n}\nmsg.payload = \"\\n注意！\\n\" + place + \": \" + msg.payload.message\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 920,
        "wires": [
            [
                "fa3db0c267a1be77"
            ]
        ]
    },
    {
        "id": "a8d64e997c5ff5f3",
        "type": "ui_ui_control",
        "z": "e8560f358cae048b",
        "name": "navigation",
        "events": "all",
        "x": 530,
        "y": 1020,
        "wires": [
            []
        ]
    },
    {
        "id": "72e7c35c7ccfb267",
        "type": "ui_template",
        "z": "e8560f358cae048b",
        "group": "70cfa938d1a6f3e9",
        "name": "Back Home",
        "order": 2,
        "width": 3,
        "height": 1,
        "format": "<md-button class=\"vibrate filled touched smallfont rounded\" style=\"background-color:#e67e22\"\n    ng-click=\"send({payload: 'Home'})\">\n    Back\n</md-button>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 370,
        "y": 1020,
        "wires": [
            [
                "a8d64e997c5ff5f3"
            ]
        ]
    },
    {
        "id": "c3b401dea499b9c4",
        "type": "ui_template",
        "z": "e8560f358cae048b",
        "group": "70cfa938d1a6f3e9",
        "name": "button css",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<style>\n  * {\n      overflow: hidden;\n  }\n  .filled { \n      height: 70% !important;\n      width: 90% !important;\n      padding: 0 !important;\n      margin: 4% !important;\n  }\n  .nr-dashboard-template {\n      padding: 0;\n      margin: 0;\n  }\n  \n  .rounded {\n  border-radius: 12px 12px 12px 12px;\n}\n \n   .bigfont {\n  font-size: 18px;\n}\n\n   .smallfont {\n  font-size: 12px;\n}\n  \n</style>\n\n<script>\n$('.vibrate').on('click', function() {\n  navigator.vibrate(100);\n});\n\nfunction restore_bg(x) {\n            $(this).css(\"background-color\", x);\n    };\n\n$('.touched').on('mousedown', function() {\n    \n    var x= $(this).css(\"background-color\");\n    $(this).css(\"background-color\", \"yellow\");\n    \n    setTimeout(restore_bg.bind(this,x),100);\n    navigator.vibrate(80);\n    });\n    \n</script>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 190,
        "y": 1020,
        "wires": [
            []
        ]
    },
    {
        "id": "a3bc45b454a852aa",
        "type": "ui_template",
        "z": "e8560f358cae048b",
        "d": true,
        "group": "1c67a074.861f4",
        "name": "power icon",
        "order": 4,
        "width": 3,
        "height": 1,
        "format": "<img id=\"charging\" style=\"position:absolute; height: 25px; width: 25px;display: none\" src=\"https://img95.699pic.com/xsj/13/bg/34.jpg!/fh/300\">\n<img id=\"charging\" style=\"position:absolute; height: 25px; width: 25px;display: block\" src=\"https://thumb.silhouette-ac.com/t/d5/d5d4136a1561f13778f2585b20f1d878_t.jpeg\">",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 370,
        "y": 1060,
        "wires": [
            []
        ]
    },
    {
        "id": "eba6806704a813d2",
        "type": "inject",
        "z": "e8560f358cae048b",
        "name": "normal",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"smoke\":0,\"CO\":8,\"temperture\":30}",
        "payloadType": "json",
        "x": 680,
        "y": 240,
        "wires": [
            [
                "db9f653c7e7f3e57"
            ]
        ]
    },
    {
        "id": "b84ed3270cad8afd",
        "type": "inject",
        "z": "e8560f358cae048b",
        "name": "smoke",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"smoke\":1,\"CO\":8,\"temperture\":30}",
        "payloadType": "json",
        "x": 670,
        "y": 280,
        "wires": [
            [
                "db9f653c7e7f3e57"
            ]
        ]
    },
    {
        "id": "435fb2ef34033189",
        "type": "inject",
        "z": "e8560f358cae048b",
        "name": "CO",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"smoke\":0,\"CO\":15,\"temperture\":30}",
        "payloadType": "json",
        "x": 670,
        "y": 320,
        "wires": [
            [
                "db9f653c7e7f3e57"
            ]
        ]
    },
    {
        "id": "8b7be441547873a2",
        "type": "inject",
        "z": "e8560f358cae048b",
        "name": "fire",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"smoke\":0,\"CO\":15,\"temperture\":45}",
        "payloadType": "json",
        "x": 670,
        "y": 360,
        "wires": [
            [
                "db9f653c7e7f3e57"
            ]
        ]
    },
    {
        "id": "db9f653c7e7f3e57",
        "type": "delay",
        "z": "e8560f358cae048b",
        "name": "",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 830,
        "y": 300,
        "wires": [
            [
                "a79ccc4d0952d01c"
            ]
        ]
    },
    {
        "id": "83c896b0d0c3cfbd",
        "type": "link in",
        "z": "e8560f358cae048b",
        "name": "all reset",
        "links": [
            "1765ee585273167c"
        ],
        "x": 75,
        "y": 780,
        "wires": [
            [
                "814faab247c65d5c"
            ]
        ]
    },
    {
        "id": "2196831a363ec1c8",
        "type": "random",
        "z": "b435fa1f0cb3b040",
        "name": "偵煙器",
        "low": "0",
        "high": "1",
        "inte": "true",
        "property": "payload",
        "x": 250,
        "y": 100,
        "wires": [
            [
                "efd3278d2391033b"
            ]
        ]
    },
    {
        "id": "a99524d3a40e85b5",
        "type": "random",
        "z": "b435fa1f0cb3b040",
        "name": "CO(ppm)",
        "low": "0",
        "high": 10,
        "inte": "false",
        "property": "payload",
        "x": 260,
        "y": 200,
        "wires": [
            [
                "8f9972a466097655"
            ]
        ]
    },
    {
        "id": "4e8fd4275910de30",
        "type": "random",
        "z": "b435fa1f0cb3b040",
        "name": "溫度",
        "low": "-10",
        "high": "50",
        "inte": "false",
        "property": "payload",
        "x": 250,
        "y": 300,
        "wires": [
            [
                "052e488707865802"
            ]
        ]
    },
    {
        "id": "4cd2cabdd4e51777",
        "type": "join",
        "z": "b435fa1f0cb3b040",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "1",
        "count": "3",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 570,
        "y": 200,
        "wires": [
            [
                "b9d9c26a4f68fa1f"
            ]
        ]
    },
    {
        "id": "f4891b1c40fe8ace",
        "type": "debug",
        "z": "b435fa1f0cb3b040",
        "name": "combine",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 100,
        "wires": []
    },
    {
        "id": "efd3278d2391033b",
        "type": "change",
        "z": "b435fa1f0cb3b040",
        "name": "add topic",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "smoke",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 100,
        "wires": [
            [
                "4cd2cabdd4e51777"
            ]
        ]
    },
    {
        "id": "8f9972a466097655",
        "type": "change",
        "z": "b435fa1f0cb3b040",
        "name": "add topic",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "CO",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 200,
        "wires": [
            [
                "4cd2cabdd4e51777"
            ]
        ]
    },
    {
        "id": "052e488707865802",
        "type": "change",
        "z": "b435fa1f0cb3b040",
        "name": "add topic",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "temperture",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 300,
        "wires": [
            [
                "4cd2cabdd4e51777"
            ]
        ]
    },
    {
        "id": "01399bad7fbcbc1e",
        "type": "inject",
        "z": "b435fa1f0cb3b040",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 90,
        "y": 200,
        "wires": [
            [
                "2196831a363ec1c8",
                "a99524d3a40e85b5",
                "4e8fd4275910de30"
            ]
        ]
    },
    {
        "id": "b9d9c26a4f68fa1f",
        "type": "link out",
        "z": "b435fa1f0cb3b040",
        "name": "link out 1",
        "mode": "link",
        "links": [
            "2c8f21c60f60b45c",
            "fb3ec2a7b1adba23",
            "c91ef7a14081f76a",
            "365b2c5ef9ffe010"
        ],
        "x": 905,
        "y": 200,
        "wires": []
    },
    {
        "id": "2c8f21c60f60b45c",
        "type": "link in",
        "z": "b435fa1f0cb3b040",
        "name": "link in 1",
        "links": [
            "b9d9c26a4f68fa1f"
        ],
        "x": 255,
        "y": 420,
        "wires": [
            [
                "8bb8760fa5cc3c15"
            ]
        ]
    },
    {
        "id": "8bb8760fa5cc3c15",
        "type": "function",
        "z": "b435fa1f0cb3b040",
        "name": "function 2",
        "func": "if(msg.payload.smoke===0){\n    msg.payload.color =\"#008000\"; //\"green\";\n}else{\n    msg.payload.color = \"#b22222\"; // \"firebrick\";\n}\nmsg.topic = \"e1@cx_color\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 420,
        "wires": [
            [
                "a4f29ed266c38702"
            ]
        ]
    },
    {
        "id": "a4f29ed266c38702",
        "type": "ui_template",
        "z": "b435fa1f0cb3b040",
        "group": "b973fd68fe795a1c",
        "name": "煙霧顯示",
        "order": 6,
        "width": 1,
        "height": 2,
        "format": "<div id=\"graphics\" ng-init=\"checkSVG()\">\n    <p id=\"e1_text\">煙霧</p>\n    <svg xmlns=\"http://www.w3.org/2000/svg\" xmlns:xlink=\"http://www.w3.org/1999/xlink\" x=\"0\" y=\"0\" height=\"34\"\n        viewBox=\"0 0 34 34\" width=\"34\" preserveAspectRatio=\"xMidYMid meet\">\n        <circle id=\"e1_circle\" cx=\"17\" cy=\"17\" style=\"fill:green;stroke-width:0px;overflow:hidden\" r=\"16\" />\n    </svg>\n    <script>\n        (function($scope) {\n                $scope.$watch('msg', function() {\n                    if (!$scope.msg) return;\n                    const color=$scope.msg.payload?.color;\n                    const topic=$scope.msg.topic;\n                    if (color === undefined || color === null ||\n                        !topic || typeof topic !== 'string' || !topic.includes('@')) return;\n                    const id = topic.split('@')[0], cxType = topic.split('@')[1];\n                    document.getElementById(id+\"_circle\").style.fill=color;\n                    document.getElementById(id+\"_text\").style.cssText = `color:${color} !important;font-weight:bold` ;\n                });\n            })(scope);\n    </script>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 500,
        "y": 420,
        "wires": [
            [
                "0681c20b7ec2f13c"
            ]
        ]
    },
    {
        "id": "0681c20b7ec2f13c",
        "type": "debug",
        "z": "b435fa1f0cb3b040",
        "name": "debug 9",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 420,
        "wires": []
    },
    {
        "id": "fb3ec2a7b1adba23",
        "type": "link in",
        "z": "b435fa1f0cb3b040",
        "name": "link in 2",
        "links": [
            "b9d9c26a4f68fa1f"
        ],
        "x": 255,
        "y": 480,
        "wires": [
            [
                "fcd3fb07ec23022a"
            ]
        ]
    },
    {
        "id": "fcd3fb07ec23022a",
        "type": "function",
        "z": "b435fa1f0cb3b040",
        "name": "溫度",
        "func": "msg.payload = msg.payload.temperture;\nmsg.topic = \"temperture\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 480,
        "wires": [
            [
                "6f6a2f835e4303ce"
            ]
        ]
    },
    {
        "id": "388df52bad9fd02f",
        "type": "debug",
        "z": "b435fa1f0cb3b040",
        "name": "debug 10",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 480,
        "wires": []
    },
    {
        "id": "6f6a2f835e4303ce",
        "type": "ui_chart",
        "z": "b435fa1f0cb3b040",
        "name": "",
        "group": "b973fd68fe795a1c",
        "order": 3,
        "width": 11,
        "height": 5,
        "label": "溫度",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "-10",
        "ymax": "50",
        "removeOlder": "2",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 490,
        "y": 480,
        "wires": [
            [
                "388df52bad9fd02f"
            ]
        ]
    },
    {
        "id": "c91ef7a14081f76a",
        "type": "link in",
        "z": "b435fa1f0cb3b040",
        "name": "link in 3",
        "links": [
            "b9d9c26a4f68fa1f"
        ],
        "x": 255,
        "y": 540,
        "wires": [
            [
                "e4c84f2551ce553a"
            ]
        ]
    },
    {
        "id": "e4c84f2551ce553a",
        "type": "function",
        "z": "b435fa1f0cb3b040",
        "name": "CO",
        "func": "msg.payload = msg.payload.CO;\nmsg.topic = \"CO\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 540,
        "wires": [
            [
                "d0941d106b652e26"
            ]
        ]
    },
    {
        "id": "824a622f2545e076",
        "type": "debug",
        "z": "b435fa1f0cb3b040",
        "name": "debug 11",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 540,
        "wires": []
    },
    {
        "id": "d0941d106b652e26",
        "type": "ui_chart",
        "z": "b435fa1f0cb3b040",
        "name": "",
        "group": "b973fd68fe795a1c",
        "order": 10,
        "width": 14,
        "height": 4,
        "label": "CO(ppm)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "50",
        "removeOlder": "2",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 500,
        "y": 540,
        "wires": [
            [
                "824a622f2545e076"
            ]
        ]
    },
    {
        "id": "5bd723701ecef91b",
        "type": "ui_text",
        "z": "b435fa1f0cb3b040",
        "group": "b973fd68fe795a1c",
        "order": 4,
        "width": 3,
        "height": 2,
        "name": "",
        "label": "status",
        "format": "<font face='arial'><font size=6><font color={{msg.payload.color}}>{{msg.payload.message}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 690,
        "y": 740,
        "wires": []
    },
    {
        "id": "365b2c5ef9ffe010",
        "type": "link in",
        "z": "b435fa1f0cb3b040",
        "name": "link in 4",
        "links": [
            "b9d9c26a4f68fa1f"
        ],
        "x": 255,
        "y": 600,
        "wires": [
            [
                "18b2c3d92f4c20cd",
                "6c5486538cb735ef"
            ]
        ]
    },
    {
        "id": "18b2c3d92f4c20cd",
        "type": "function",
        "z": "b435fa1f0cb3b040",
        "name": "check condition",
        "func": "const {smoke,temperture,CO }= msg.payload;\n\nif (temperture >= 40 || (smoke === 1&&CO>=8)){\n    msg.payload={message:\"Fire\",color:\"red\"};\n} else if (smoke===1) {\n    msg.payload = { message: \"Smoke Detected\", color: \"orange\" };\n}else if (CO >= 8) {\n    msg.payload = { message: \"CO Too High\", color: \"orange\" };\n}else{\n    msg.payload = { message: \"Normal\", color: \"Green\" };\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 600,
        "wires": [
            [
                "2cdb0e7a9888e939"
            ]
        ]
    },
    {
        "id": "2cdb0e7a9888e939",
        "type": "debug",
        "z": "b435fa1f0cb3b040",
        "name": "debug 12",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 600,
        "wires": []
    },
    {
        "id": "e03cc1879a05467f",
        "type": "mqtt in",
        "z": "b435fa1f0cb3b040",
        "name": "",
        "topic": "/rpi/CO",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "654c532714216822",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 590,
        "y": 100,
        "wires": [
            [
                "f4891b1c40fe8ace",
                "cc48f603b62cb6e1"
            ]
        ]
    },
    {
        "id": "cc48f603b62cb6e1",
        "type": "function",
        "z": "b435fa1f0cb3b040",
        "name": "convert data",
        "func": "let {ppm,temp}=msg.payload;\n\nmsg.payload = {smoke:0,CO:ppm,temperture:temp};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 160,
        "wires": [
            [
                "b9d9c26a4f68fa1f"
            ]
        ]
    },
    {
        "id": "e862d0dadea0ac5b",
        "type": "link out",
        "z": "b435fa1f0cb3b040",
        "name": "living room status",
        "mode": "link",
        "links": [
            "c97ad871543274fa"
        ],
        "x": 655,
        "y": 700,
        "wires": []
    },
    {
        "id": "2f635d26fb72cf66",
        "type": "finite-state-machine",
        "z": "b435fa1f0cb3b040",
        "name": "",
        "fsmDefinition": "{\"state\":{\"status\":\"Normal\",\"data\":{\"x\":5}},\"transitions\":{\"Normal\":{\"temperture\":\"Fire\",\"CO\":\"CO too High\",\"smoke\":\"Smoke Detected\",\"temperture_CO\":\"Fire\",\"temperture_smoke\":\"Fire\",\"CO_smoke\":\"Potential Fire\",\"temperture_CO_smoke\":\"Fire\",\"test\":\"Fire\",\"normal\":\"Normal\",\"expire\":\"Normal\",\"reset\":\"Normal\"},\"Fire\":{\"temperture\":\"Fire\",\"CO\":\"Fire\",\"smoke\":\"Fire\",\"temperture_CO\":\"Fire\",\"temperture_smoke\":\"Fire\",\"CO_smoke\":\"Fire\",\"temperture_CO_smoke\":\"Fire\",\"test\":\"Fire\",\"normal\":\"Fire\",\"expire\":\"Fire\",\"reset\":\"Normal\"},\"CO too High\":{\"temperture\":\"Fire\",\"CO\":\"CO too High\",\"smoke\":\"Potential Fire\",\"temperture_CO\":\"Fire\",\"temperture_smoke\":\"Fire\",\"CO_smoke\":\"Potential Fire\",\"temperture_CO_smoke\":\"Fire\",\"normal\":\"CO too High\",\"expire\":\"Normal\",\"reset\":\"Normal\"},\"Smoke Detected\":{\"temperture\":\"Fire\",\"CO\":\"Potential Fire\",\"smoke\":\"Smoke Detected\",\"temperture_CO\":\"Fire\",\"temperture_smoke\":\"Fire\",\"CO_smoke\":\"Potential Fire\",\"temperture_CO_smoke\":\"Fire\",\"normal\":\"Smoke Detected\",\"expire\":\"Normal\",\"reset\":\"Normal\"},\"Potential Fire\":{\"temperture\":\"Fire\",\"CO\":\"Potential Fire\",\"smoke\":\"Potential Fire\",\"temperture_CO\":\"Fire\",\"temperture_smoke\":\"Fire\",\"CO_smoke\":\"Potential Fire\",\"temperture_CO_smoke\":\"Fire\",\"normal\":\"Potential Fire\",\"expire\":\"Normal\",\"reset\":\"Normal\"}}}",
        "sendInitialState": false,
        "sendStateWithoutChange": false,
        "showTransitionErrors": true,
        "x": 310,
        "y": 740,
        "wires": [
            [
                "48e31f519a63034e",
                "6e5489be7be9a7da"
            ]
        ]
    },
    {
        "id": "6c5486538cb735ef",
        "type": "function",
        "z": "b435fa1f0cb3b040",
        "name": "check transition to FSM",
        "func": "const TEMP_ERROR_LIMIT = 40; // in C\nconst CO_ERROR_LIMIT = 15; // in ppm\n\nconst { smoke, temperture, CO } = msg.payload;\nmsg.topic = \"\"\nmsg.data = {smoke, temperture, CO}\nmsg.control = {}\n\nif (temperture >= TEMP_ERROR_LIMIT) {\n    msg.topic += \"temperture\";\n}\nif (CO >= CO_ERROR_LIMIT) {\n    if (msg.topic !== \"\") msg.topic += \"_\";\n    msg.topic += \"CO\";\n}\nif (smoke === 1) {\n    if (msg.topic !== \"\") msg.topic += \"_\";\n    msg.topic += \"smoke\";\n} \nif (msg.topic===\"\"){\n    msg.topic = \"normal\";\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 190,
        "y": 680,
        "wires": [
            [
                "2f635d26fb72cf66",
                "6a929ec249a8c3f5"
            ]
        ]
    },
    {
        "id": "66a962fefd5f1adc",
        "type": "debug",
        "z": "b435fa1f0cb3b040",
        "name": "state",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 820,
        "wires": []
    },
    {
        "id": "6a929ec249a8c3f5",
        "type": "debug",
        "z": "b435fa1f0cb3b040",
        "name": "trasition",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 680,
        "wires": []
    },
    {
        "id": "22f28bcba88c1e6b",
        "type": "inject",
        "z": "b435fa1f0cb3b040",
        "name": "reset",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "reset",
        "payload": "",
        "payloadType": "date",
        "x": 90,
        "y": 740,
        "wires": [
            [
                "2f635d26fb72cf66"
            ]
        ]
    },
    {
        "id": "48e31f519a63034e",
        "type": "function",
        "z": "b435fa1f0cb3b040",
        "name": "function 3",
        "func": "msg.state_color = {\n    \"Normal\": \"green\",\n    \"Fire\": \"red\",\n    \"CO too High\": \"orange\",\n    \"Smoke Detected\": \"orange\",\n    \"Potential Fire\": \"orange\"\n}\nmsg.payload = {\n    place: \"livingroom\",\n    message: msg.payload.status,\n    color: msg.state_color[msg.payload.status]\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 740,
        "wires": [
            [
                "66a962fefd5f1adc",
                "5bd723701ecef91b",
                "e862d0dadea0ac5b",
                "344cc302fe6d0e31"
            ]
        ]
    },
    {
        "id": "6e5489be7be9a7da",
        "type": "debug",
        "z": "b435fa1f0cb3b040",
        "name": "debug 14",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 820,
        "wires": []
    },
    {
        "id": "4df94b68423da834",
        "type": "line-notify",
        "z": "b435fa1f0cb3b040",
        "name": "test YCK",
        "message": "",
        "contentType": "message",
        "imageThumbnail": "",
        "imageUrl": "",
        "sticker": "default",
        "stickerPackageId": "1",
        "stickerId": "1",
        "silent": false,
        "creds": "63115de6b1972cd9",
        "x": 980,
        "y": 920,
        "wires": [
            []
        ]
    },
    {
        "id": "2fadb96f33c45e52",
        "type": "inject",
        "z": "b435fa1f0cb3b040",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 270,
        "y": 920,
        "wires": [
            [
                "344cc302fe6d0e31"
            ]
        ]
    },
    {
        "id": "344cc302fe6d0e31",
        "type": "rbe",
        "z": "b435fa1f0cb3b040",
        "name": "block the same value",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 600,
        "y": 920,
        "wires": [
            [
                "778fc063e30bf017"
            ]
        ]
    },
    {
        "id": "778fc063e30bf017",
        "type": "function",
        "z": "b435fa1f0cb3b040",
        "name": "modify message",
        "func": "const place = \"living room\"\nif (msg.payload.message==\"Normal\"){\n    return;\n}\nmsg.payload = \"\\n注意！\\n\" + place + \": \" + msg.payload.message\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 920,
        "wires": [
            [
                "4df94b68423da834"
            ]
        ]
    },
    {
        "id": "beae71ef1e39d287",
        "type": "ui_ui_control",
        "z": "b435fa1f0cb3b040",
        "name": "navigation",
        "events": "all",
        "x": 530,
        "y": 1020,
        "wires": [
            []
        ]
    },
    {
        "id": "18a8c523cd2c4d80",
        "type": "ui_template",
        "z": "b435fa1f0cb3b040",
        "group": "b973fd68fe795a1c",
        "name": "Back Home",
        "order": 2,
        "width": 3,
        "height": 1,
        "format": "<md-button class=\"vibrate filled touched smallfont rounded\" style=\"background-color:#e67e22\"\n    ng-click=\"send({payload: 'Home'})\">\n    Back\n</md-button>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 370,
        "y": 1020,
        "wires": [
            [
                "beae71ef1e39d287"
            ]
        ]
    },
    {
        "id": "153213051eb73f6b",
        "type": "ui_template",
        "z": "b435fa1f0cb3b040",
        "group": "b973fd68fe795a1c",
        "name": "button css",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<style>\n  * {\n      overflow: hidden;\n  }\n  .filled { \n      height: 90% !important;\n      width: 90% !important;\n      padding: 0 !important;\n      margin: 4% !important;\n  }\n  .nr-dashboard-template {\n      padding: 0;\n      margin: 0;\n  }\n  \n  .rounded {\n  border-radius: 12px 12px 12px 12px;\n}\n \n   .bigfont {\n  font-size: 18px;\n}\n\n   .smallfont {\n  font-size: 12px;\n}\n  \n</style>\n\n<script>\n$('.vibrate').on('click', function() {\n  navigator.vibrate(100);\n});\n\nfunction restore_bg(x) {\n            $(this).css(\"background-color\", x);\n    };\n\n$('.touched').on('mousedown', function() {\n    \n    var x= $(this).css(\"background-color\");\n    $(this).css(\"background-color\", \"yellow\");\n    \n    setTimeout(restore_bg.bind(this,x),100);\n    navigator.vibrate(80);\n    });\n    \n</script>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 190,
        "y": 1020,
        "wires": [
            []
        ]
    },
    {
        "id": "38c626c3d793399e",
        "type": "ui_template",
        "z": "b435fa1f0cb3b040",
        "d": true,
        "group": "1c67a074.861f4",
        "name": "power icon",
        "order": 4,
        "width": 3,
        "height": 1,
        "format": "<img id=\"charging\" style=\"position:absolute; height: 25px; width: 25px;display: none\" src=\"https://img95.699pic.com/xsj/13/bg/34.jpg!/fh/300\">\n<img id=\"charging\" style=\"position:absolute; height: 25px; width: 25px;display: block\" src=\"https://thumb.silhouette-ac.com/t/d5/d5d4136a1561f13778f2585b20f1d878_t.jpeg\">",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 370,
        "y": 1060,
        "wires": [
            []
        ]
    },
    {
        "id": "efcc603f89ab8578",
        "type": "inject",
        "z": "b435fa1f0cb3b040",
        "name": "normal",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"smoke\":0,\"CO\":8,\"temperture\":30}",
        "payloadType": "json",
        "x": 700,
        "y": 240,
        "wires": [
            [
                "0de9d9d94ad6d105"
            ]
        ]
    },
    {
        "id": "0d7186c291c9df3e",
        "type": "inject",
        "z": "b435fa1f0cb3b040",
        "name": "smoke",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"smoke\":1,\"CO\":8,\"temperture\":30}",
        "payloadType": "json",
        "x": 690,
        "y": 280,
        "wires": [
            [
                "0de9d9d94ad6d105"
            ]
        ]
    },
    {
        "id": "276bfc465b2f48f3",
        "type": "inject",
        "z": "b435fa1f0cb3b040",
        "name": "CO",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"smoke\":0,\"CO\":15,\"temperture\":30}",
        "payloadType": "json",
        "x": 690,
        "y": 320,
        "wires": [
            [
                "0de9d9d94ad6d105"
            ]
        ]
    },
    {
        "id": "86d1dc3205c1ec9c",
        "type": "inject",
        "z": "b435fa1f0cb3b040",
        "name": "fire",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"smoke\":0,\"CO\":15,\"temperture\":45}",
        "payloadType": "json",
        "x": 690,
        "y": 360,
        "wires": [
            [
                "0de9d9d94ad6d105"
            ]
        ]
    },
    {
        "id": "0de9d9d94ad6d105",
        "type": "delay",
        "z": "b435fa1f0cb3b040",
        "name": "",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 850,
        "y": 300,
        "wires": [
            [
                "b9d9c26a4f68fa1f"
            ]
        ]
    },
    {
        "id": "69c5693719c5afac",
        "type": "link in",
        "z": "b435fa1f0cb3b040",
        "name": "all reset",
        "links": [
            "1765ee585273167c"
        ],
        "x": 95,
        "y": 800,
        "wires": [
            [
                "2f635d26fb72cf66"
            ]
        ]
    },
    {
        "id": "8dbbb7f92673413d",
        "type": "random",
        "z": "92d2ee6e5b09e9e8",
        "name": "偵煙器",
        "low": "0",
        "high": "1",
        "inte": "true",
        "property": "payload",
        "x": 250,
        "y": 100,
        "wires": [
            [
                "3b4681ef0cea2594"
            ]
        ]
    },
    {
        "id": "87772baa33e6dc60",
        "type": "random",
        "z": "92d2ee6e5b09e9e8",
        "name": "CO(ppm)",
        "low": "0",
        "high": 10,
        "inte": "false",
        "property": "payload",
        "x": 260,
        "y": 200,
        "wires": [
            [
                "86054f591bdbb15d"
            ]
        ]
    },
    {
        "id": "89f4f546dd0675bf",
        "type": "random",
        "z": "92d2ee6e5b09e9e8",
        "name": "溫度",
        "low": "-10",
        "high": "50",
        "inte": "false",
        "property": "payload",
        "x": 250,
        "y": 300,
        "wires": [
            [
                "fc37d8dfcdcb4576"
            ]
        ]
    },
    {
        "id": "26e5791d636fe44a",
        "type": "join",
        "z": "92d2ee6e5b09e9e8",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "1",
        "count": "3",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 570,
        "y": 200,
        "wires": [
            [
                "7ae1fc736bc32c28"
            ]
        ]
    },
    {
        "id": "40688dd92c4017e8",
        "type": "debug",
        "z": "92d2ee6e5b09e9e8",
        "name": "combine",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 100,
        "wires": []
    },
    {
        "id": "3b4681ef0cea2594",
        "type": "change",
        "z": "92d2ee6e5b09e9e8",
        "name": "add topic",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "smoke",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 100,
        "wires": [
            [
                "26e5791d636fe44a"
            ]
        ]
    },
    {
        "id": "86054f591bdbb15d",
        "type": "change",
        "z": "92d2ee6e5b09e9e8",
        "name": "add topic",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "CO",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 200,
        "wires": [
            [
                "26e5791d636fe44a"
            ]
        ]
    },
    {
        "id": "fc37d8dfcdcb4576",
        "type": "change",
        "z": "92d2ee6e5b09e9e8",
        "name": "add topic",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "temperture",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 300,
        "wires": [
            [
                "26e5791d636fe44a"
            ]
        ]
    },
    {
        "id": "a7fc4f18fcea3d98",
        "type": "inject",
        "z": "92d2ee6e5b09e9e8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 90,
        "y": 200,
        "wires": [
            [
                "8dbbb7f92673413d",
                "87772baa33e6dc60",
                "89f4f546dd0675bf"
            ]
        ]
    },
    {
        "id": "7ae1fc736bc32c28",
        "type": "link out",
        "z": "92d2ee6e5b09e9e8",
        "name": "link out 1",
        "mode": "link",
        "links": [
            "198c2b0e0223ebc1",
            "d2b2919a13dc4b69",
            "38c94e8d39db0471",
            "8c681257bd8ba69b"
        ],
        "x": 905,
        "y": 200,
        "wires": []
    },
    {
        "id": "198c2b0e0223ebc1",
        "type": "link in",
        "z": "92d2ee6e5b09e9e8",
        "name": "link in 1",
        "links": [
            "7ae1fc736bc32c28"
        ],
        "x": 255,
        "y": 420,
        "wires": [
            [
                "b3d650b6f4060ee5"
            ]
        ]
    },
    {
        "id": "b3d650b6f4060ee5",
        "type": "function",
        "z": "92d2ee6e5b09e9e8",
        "name": "function 2",
        "func": "if(msg.payload.smoke===0){\n    msg.payload.color =\"#008000\"; //\"green\";\n}else{\n    msg.payload.color = \"#b22222\"; // \"firebrick\";\n}\nmsg.topic = \"e1@cx_color\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 420,
        "wires": [
            [
                "3038710bbd21cc41"
            ]
        ]
    },
    {
        "id": "3038710bbd21cc41",
        "type": "ui_template",
        "z": "92d2ee6e5b09e9e8",
        "group": "bf27c1590187175e",
        "name": "煙霧顯示",
        "order": 6,
        "width": 1,
        "height": 2,
        "format": "<div id=\"graphics\" ng-init=\"checkSVG()\">\n    <p id=\"e1_text\">煙霧</p>\n    <svg xmlns=\"http://www.w3.org/2000/svg\" xmlns:xlink=\"http://www.w3.org/1999/xlink\" x=\"0\" y=\"0\" height=\"34\"\n        viewBox=\"0 0 34 34\" width=\"34\" preserveAspectRatio=\"xMidYMid meet\">\n        <circle id=\"e1_circle\" cx=\"17\" cy=\"17\" style=\"fill:green;stroke-width:0px;overflow:hidden\" r=\"16\" />\n    </svg>\n    <script>\n        (function($scope) {\n                $scope.$watch('msg', function() {\n                    if (!$scope.msg) return;\n                    const color=$scope.msg.payload?.color;\n                    const topic=$scope.msg.topic;\n                    if (color === undefined || color === null ||\n                        !topic || typeof topic !== 'string' || !topic.includes('@')) return;\n                    const id = topic.split('@')[0], cxType = topic.split('@')[1];\n                    document.getElementById(id+\"_circle\").style.fill=color;\n                    document.getElementById(id+\"_text\").style.cssText = `color:${color} !important;font-weight:bold` ;\n                });\n            })(scope);\n    </script>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 500,
        "y": 420,
        "wires": [
            [
                "d8516630fb53fbea"
            ]
        ]
    },
    {
        "id": "d8516630fb53fbea",
        "type": "debug",
        "z": "92d2ee6e5b09e9e8",
        "name": "debug 9",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 420,
        "wires": []
    },
    {
        "id": "d2b2919a13dc4b69",
        "type": "link in",
        "z": "92d2ee6e5b09e9e8",
        "name": "link in 2",
        "links": [
            "7ae1fc736bc32c28"
        ],
        "x": 255,
        "y": 480,
        "wires": [
            [
                "79f327def379de20"
            ]
        ]
    },
    {
        "id": "79f327def379de20",
        "type": "function",
        "z": "92d2ee6e5b09e9e8",
        "name": "溫度",
        "func": "msg.payload = msg.payload.temperture;\nmsg.topic = \"temperture\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 480,
        "wires": [
            [
                "4bbfa82a03eb4877"
            ]
        ]
    },
    {
        "id": "b2603860b7efa5db",
        "type": "debug",
        "z": "92d2ee6e5b09e9e8",
        "name": "debug 10",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 480,
        "wires": []
    },
    {
        "id": "4bbfa82a03eb4877",
        "type": "ui_chart",
        "z": "92d2ee6e5b09e9e8",
        "name": "",
        "group": "bf27c1590187175e",
        "order": 3,
        "width": 11,
        "height": 5,
        "label": "溫度",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "-10",
        "ymax": "50",
        "removeOlder": "2",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 490,
        "y": 480,
        "wires": [
            [
                "b2603860b7efa5db"
            ]
        ]
    },
    {
        "id": "38c94e8d39db0471",
        "type": "link in",
        "z": "92d2ee6e5b09e9e8",
        "name": "link in 3",
        "links": [
            "7ae1fc736bc32c28"
        ],
        "x": 255,
        "y": 540,
        "wires": [
            [
                "15afbac1f82ac29a"
            ]
        ]
    },
    {
        "id": "15afbac1f82ac29a",
        "type": "function",
        "z": "92d2ee6e5b09e9e8",
        "name": "CO",
        "func": "msg.payload = msg.payload.CO;\nmsg.topic = \"CO\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 540,
        "wires": [
            [
                "c659c63f092a7934"
            ]
        ]
    },
    {
        "id": "7028438eb61f3933",
        "type": "debug",
        "z": "92d2ee6e5b09e9e8",
        "name": "debug 11",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 540,
        "wires": []
    },
    {
        "id": "c659c63f092a7934",
        "type": "ui_chart",
        "z": "92d2ee6e5b09e9e8",
        "name": "",
        "group": "bf27c1590187175e",
        "order": 10,
        "width": 14,
        "height": 4,
        "label": "CO(ppm)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "50",
        "removeOlder": "2",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 500,
        "y": 540,
        "wires": [
            [
                "7028438eb61f3933"
            ]
        ]
    },
    {
        "id": "b863a5a654d1f18d",
        "type": "ui_text",
        "z": "92d2ee6e5b09e9e8",
        "group": "bf27c1590187175e",
        "order": 4,
        "width": 3,
        "height": 2,
        "name": "",
        "label": "status",
        "format": "<font face='arial'><font size=6><font color={{msg.payload.color}}>{{msg.payload.message}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 690,
        "y": 740,
        "wires": []
    },
    {
        "id": "8c681257bd8ba69b",
        "type": "link in",
        "z": "92d2ee6e5b09e9e8",
        "name": "link in 4",
        "links": [
            "7ae1fc736bc32c28"
        ],
        "x": 255,
        "y": 600,
        "wires": [
            [
                "309221c2abccf107",
                "acafd638e3c137a3"
            ]
        ]
    },
    {
        "id": "309221c2abccf107",
        "type": "function",
        "z": "92d2ee6e5b09e9e8",
        "name": "check condition",
        "func": "const {smoke,temperture,CO }= msg.payload;\n\nif (temperture >= 40 || (smoke === 1&&CO>=8)){\n    msg.payload={message:\"Fire\",color:\"red\"};\n} else if (smoke===1) {\n    msg.payload = { message: \"Smoke Detected\", color: \"orange\" };\n}else if (CO >= 8) {\n    msg.payload = { message: \"CO Too High\", color: \"orange\" };\n}else{\n    msg.payload = { message: \"Normal\", color: \"Green\" };\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 600,
        "wires": [
            [
                "927b194a859b6c3f"
            ]
        ]
    },
    {
        "id": "927b194a859b6c3f",
        "type": "debug",
        "z": "92d2ee6e5b09e9e8",
        "name": "debug 12",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 600,
        "wires": []
    },
    {
        "id": "e38587ba54f98248",
        "type": "mqtt in",
        "z": "92d2ee6e5b09e9e8",
        "name": "",
        "topic": "/rpi/CO",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "654c532714216822",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 590,
        "y": 100,
        "wires": [
            [
                "40688dd92c4017e8",
                "8084981ab24c8e70"
            ]
        ]
    },
    {
        "id": "8084981ab24c8e70",
        "type": "function",
        "z": "92d2ee6e5b09e9e8",
        "name": "convert data",
        "func": "let {ppm,temp}=msg.payload;\n\nmsg.payload = {smoke:0,CO:ppm,temperture:temp};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 160,
        "wires": [
            [
                "7ae1fc736bc32c28"
            ]
        ]
    },
    {
        "id": "07039cea834378fa",
        "type": "link out",
        "z": "92d2ee6e5b09e9e8",
        "name": "bedroom status",
        "mode": "link",
        "links": [
            "c97ad871543274fa"
        ],
        "x": 655,
        "y": 700,
        "wires": []
    },
    {
        "id": "66e55b82adb6b3a1",
        "type": "finite-state-machine",
        "z": "92d2ee6e5b09e9e8",
        "name": "",
        "fsmDefinition": "{\"state\":{\"status\":\"Normal\",\"data\":{\"x\":5}},\"transitions\":{\"Normal\":{\"temperture\":\"Fire\",\"CO\":\"CO too High\",\"smoke\":\"Smoke Detected\",\"temperture_CO\":\"Fire\",\"temperture_smoke\":\"Fire\",\"CO_smoke\":\"Potential Fire\",\"temperture_CO_smoke\":\"Fire\",\"test\":\"Fire\",\"normal\":\"Normal\",\"expire\":\"Normal\",\"reset\":\"Normal\"},\"Fire\":{\"temperture\":\"Fire\",\"CO\":\"Fire\",\"smoke\":\"Fire\",\"temperture_CO\":\"Fire\",\"temperture_smoke\":\"Fire\",\"CO_smoke\":\"Fire\",\"temperture_CO_smoke\":\"Fire\",\"test\":\"Fire\",\"normal\":\"Fire\",\"expire\":\"Fire\",\"reset\":\"Normal\"},\"CO too High\":{\"temperture\":\"Fire\",\"CO\":\"CO too High\",\"smoke\":\"Potential Fire\",\"temperture_CO\":\"Fire\",\"temperture_smoke\":\"Fire\",\"CO_smoke\":\"Potential Fire\",\"temperture_CO_smoke\":\"Fire\",\"normal\":\"CO too High\",\"expire\":\"Normal\",\"reset\":\"Normal\"},\"Smoke Detected\":{\"temperture\":\"Fire\",\"CO\":\"Potential Fire\",\"smoke\":\"Smoke Detected\",\"temperture_CO\":\"Fire\",\"temperture_smoke\":\"Fire\",\"CO_smoke\":\"Potential Fire\",\"temperture_CO_smoke\":\"Fire\",\"normal\":\"Smoke Detected\",\"expire\":\"Normal\",\"reset\":\"Normal\"},\"Potential Fire\":{\"temperture\":\"Fire\",\"CO\":\"Potential Fire\",\"smoke\":\"Potential Fire\",\"temperture_CO\":\"Fire\",\"temperture_smoke\":\"Fire\",\"CO_smoke\":\"Potential Fire\",\"temperture_CO_smoke\":\"Fire\",\"normal\":\"Potential Fire\",\"expire\":\"Normal\",\"reset\":\"Normal\"}}}",
        "sendInitialState": false,
        "sendStateWithoutChange": false,
        "showTransitionErrors": true,
        "x": 310,
        "y": 740,
        "wires": [
            [
                "4cac659f45b18ef6",
                "38febb98e659dcda"
            ]
        ]
    },
    {
        "id": "acafd638e3c137a3",
        "type": "function",
        "z": "92d2ee6e5b09e9e8",
        "name": "check transition to FSM",
        "func": "const TEMP_ERROR_LIMIT = 40; // in C\nconst CO_ERROR_LIMIT = 15; // in ppm\n\nconst { smoke, temperture, CO } = msg.payload;\nmsg.topic = \"\"\nmsg.data = {smoke, temperture, CO}\nmsg.control = {}\n\nif (temperture >= TEMP_ERROR_LIMIT) {\n    msg.topic += \"temperture\";\n}\nif (CO >= CO_ERROR_LIMIT) {\n    if (msg.topic !== \"\") msg.topic += \"_\";\n    msg.topic += \"CO\";\n}\nif (smoke === 1) {\n    if (msg.topic !== \"\") msg.topic += \"_\";\n    msg.topic += \"smoke\";\n} \nif (msg.topic===\"\"){\n    msg.topic = \"normal\";\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 190,
        "y": 680,
        "wires": [
            [
                "66e55b82adb6b3a1",
                "6deaa2a19fe80091"
            ]
        ]
    },
    {
        "id": "17832abad4d2a288",
        "type": "debug",
        "z": "92d2ee6e5b09e9e8",
        "name": "state",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 820,
        "wires": []
    },
    {
        "id": "6deaa2a19fe80091",
        "type": "debug",
        "z": "92d2ee6e5b09e9e8",
        "name": "trasition",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 680,
        "wires": []
    },
    {
        "id": "5f481ca36235fd4a",
        "type": "inject",
        "z": "92d2ee6e5b09e9e8",
        "name": "reset",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "reset",
        "payload": "",
        "payloadType": "date",
        "x": 90,
        "y": 740,
        "wires": [
            [
                "66e55b82adb6b3a1"
            ]
        ]
    },
    {
        "id": "4cac659f45b18ef6",
        "type": "function",
        "z": "92d2ee6e5b09e9e8",
        "name": "function 3",
        "func": "msg.state_color = {\n    \"Normal\": \"green\",\n    \"Fire\": \"red\",\n    \"CO too High\": \"orange\",\n    \"Smoke Detected\": \"orange\",\n    \"Potential Fire\": \"orange\"\n}\nmsg.payload = {\n    place: \"kitchen\",\n    message: msg.payload.status,\n    color: msg.state_color[msg.payload.status]\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 740,
        "wires": [
            [
                "17832abad4d2a288",
                "b863a5a654d1f18d",
                "07039cea834378fa",
                "41ef74877c203299"
            ]
        ]
    },
    {
        "id": "38febb98e659dcda",
        "type": "debug",
        "z": "92d2ee6e5b09e9e8",
        "name": "debug 14",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 820,
        "wires": []
    },
    {
        "id": "b554f62aa0e259c8",
        "type": "line-notify",
        "z": "92d2ee6e5b09e9e8",
        "name": "test YCK",
        "message": "",
        "contentType": "message",
        "imageThumbnail": "",
        "imageUrl": "",
        "sticker": "default",
        "stickerPackageId": "1",
        "stickerId": "1",
        "silent": false,
        "creds": "63115de6b1972cd9",
        "x": 980,
        "y": 920,
        "wires": [
            []
        ]
    },
    {
        "id": "cb372ad0d58a49a7",
        "type": "inject",
        "z": "92d2ee6e5b09e9e8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 270,
        "y": 920,
        "wires": [
            [
                "41ef74877c203299"
            ]
        ]
    },
    {
        "id": "41ef74877c203299",
        "type": "rbe",
        "z": "92d2ee6e5b09e9e8",
        "name": "block the same value",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 600,
        "y": 920,
        "wires": [
            [
                "299327b87a8cc242"
            ]
        ]
    },
    {
        "id": "299327b87a8cc242",
        "type": "function",
        "z": "92d2ee6e5b09e9e8",
        "name": "modify message",
        "func": "// TODO: after added as new node please moodify place name\nconst place = \"kitchen\" \nif (msg.payload.message==\"Normal\"){\n    return;\n}\nmsg.payload = \"\\n注意！\\n\" + place + \": \" + msg.payload.message\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 920,
        "wires": [
            [
                "b554f62aa0e259c8"
            ]
        ]
    },
    {
        "id": "e155e732e2afd82f",
        "type": "ui_ui_control",
        "z": "92d2ee6e5b09e9e8",
        "name": "navigation",
        "events": "all",
        "x": 530,
        "y": 1020,
        "wires": [
            []
        ]
    },
    {
        "id": "481b55fff45a216e",
        "type": "ui_template",
        "z": "92d2ee6e5b09e9e8",
        "group": "bf27c1590187175e",
        "name": "Back Home",
        "order": 2,
        "width": 3,
        "height": 1,
        "format": "<md-button class=\"vibrate filled touched smallfont rounded\" style=\"background-color:#e67e22\"\n    ng-click=\"send({payload: 'Home'})\">\n    Back\n</md-button>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 370,
        "y": 1020,
        "wires": [
            [
                "e155e732e2afd82f"
            ]
        ]
    },
    {
        "id": "22e1c258e9c512b5",
        "type": "ui_template",
        "z": "92d2ee6e5b09e9e8",
        "group": "bf27c1590187175e",
        "name": "button css",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<style>\n  * {\n      overflow: hidden;\n  }\n  .filled { \n      height: 70% !important;\n      width: 90% !important;\n      padding: 0 !important;\n      margin: 4% !important;\n  }\n  .nr-dashboard-template {\n      padding: 0;\n      margin: 0;\n  }\n  \n  .rounded {\n  border-radius: 12px 12px 12px 12px;\n}\n \n   .bigfont {\n  font-size: 18px;\n}\n\n   .smallfont {\n  font-size: 12px;\n}\n  \n</style>\n\n<script>\n$('.vibrate').on('click', function() {\n  navigator.vibrate(100);\n});\n\nfunction restore_bg(x) {\n            $(this).css(\"background-color\", x);\n    };\n\n$('.touched').on('mousedown', function() {\n    \n    var x= $(this).css(\"background-color\");\n    $(this).css(\"background-color\", \"yellow\");\n    \n    setTimeout(restore_bg.bind(this,x),100);\n    navigator.vibrate(80);\n    });\n    \n</script>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 190,
        "y": 1020,
        "wires": [
            []
        ]
    },
    {
        "id": "d5db6e38c809308e",
        "type": "ui_template",
        "z": "92d2ee6e5b09e9e8",
        "d": true,
        "group": "1c67a074.861f4",
        "name": "power icon",
        "order": 4,
        "width": 3,
        "height": 1,
        "format": "<img id=\"charging\" style=\"position:absolute; height: 25px; width: 25px;display: none\" src=\"https://img95.699pic.com/xsj/13/bg/34.jpg!/fh/300\">\n<img id=\"charging\" style=\"position:absolute; height: 25px; width: 25px;display: block\" src=\"https://thumb.silhouette-ac.com/t/d5/d5d4136a1561f13778f2585b20f1d878_t.jpeg\">",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 370,
        "y": 1060,
        "wires": [
            []
        ]
    },
    {
        "id": "6d91c156f8af9d36",
        "type": "inject",
        "z": "92d2ee6e5b09e9e8",
        "name": "normal",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"smoke\":0,\"CO\":8,\"temperture\":30}",
        "payloadType": "json",
        "x": 680,
        "y": 240,
        "wires": [
            [
                "13f723422dfed87f"
            ]
        ]
    },
    {
        "id": "1342752463ec3e5a",
        "type": "inject",
        "z": "92d2ee6e5b09e9e8",
        "name": "smoke",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"smoke\":1,\"CO\":8,\"temperture\":30}",
        "payloadType": "json",
        "x": 670,
        "y": 280,
        "wires": [
            [
                "13f723422dfed87f"
            ]
        ]
    },
    {
        "id": "00cebf40cfa47a07",
        "type": "inject",
        "z": "92d2ee6e5b09e9e8",
        "name": "CO",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"smoke\":0,\"CO\":15,\"temperture\":30}",
        "payloadType": "json",
        "x": 670,
        "y": 320,
        "wires": [
            [
                "13f723422dfed87f"
            ]
        ]
    },
    {
        "id": "df2789c6d1fb11e5",
        "type": "inject",
        "z": "92d2ee6e5b09e9e8",
        "name": "fire",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"smoke\":0,\"CO\":15,\"temperture\":45}",
        "payloadType": "json",
        "x": 670,
        "y": 360,
        "wires": [
            [
                "13f723422dfed87f"
            ]
        ]
    },
    {
        "id": "13f723422dfed87f",
        "type": "delay",
        "z": "92d2ee6e5b09e9e8",
        "name": "",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 830,
        "y": 300,
        "wires": [
            [
                "7ae1fc736bc32c28"
            ]
        ]
    },
    {
        "id": "d6ac4f62ad49c8d6",
        "type": "link in",
        "z": "92d2ee6e5b09e9e8",
        "name": "all reset",
        "links": [
            "1765ee585273167c"
        ],
        "x": 85,
        "y": 800,
        "wires": [
            [
                "66e55b82adb6b3a1"
            ]
        ]
    },
    {
        "id": "3234f3ae83c3cacf",
        "type": "random",
        "z": "5d81d50e014fd538",
        "name": "偵煙器",
        "low": "0",
        "high": "1",
        "inte": "true",
        "property": "payload",
        "x": 250,
        "y": 100,
        "wires": [
            [
                "b4f9c4246eccb5a9"
            ]
        ]
    },
    {
        "id": "d0ad1570f38be01e",
        "type": "random",
        "z": "5d81d50e014fd538",
        "name": "CO(ppm)",
        "low": "0",
        "high": 10,
        "inte": "false",
        "property": "payload",
        "x": 260,
        "y": 200,
        "wires": [
            [
                "ba64229fc4f92904"
            ]
        ]
    },
    {
        "id": "a4a16afb7ad19c51",
        "type": "random",
        "z": "5d81d50e014fd538",
        "name": "溫度",
        "low": "-10",
        "high": "50",
        "inte": "false",
        "property": "payload",
        "x": 250,
        "y": 300,
        "wires": [
            [
                "183c255fc08f5236"
            ]
        ]
    },
    {
        "id": "c65ecd67a1c99ccf",
        "type": "join",
        "z": "5d81d50e014fd538",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "1",
        "count": "3",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 570,
        "y": 200,
        "wires": [
            [
                "8bb1f3c98c9cf7b5"
            ]
        ]
    },
    {
        "id": "ad0d828f2d1c576a",
        "type": "debug",
        "z": "5d81d50e014fd538",
        "name": "combine",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 100,
        "wires": []
    },
    {
        "id": "b4f9c4246eccb5a9",
        "type": "change",
        "z": "5d81d50e014fd538",
        "name": "add topic",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "smoke",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 100,
        "wires": [
            [
                "c65ecd67a1c99ccf"
            ]
        ]
    },
    {
        "id": "ba64229fc4f92904",
        "type": "change",
        "z": "5d81d50e014fd538",
        "name": "add topic",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "CO",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 200,
        "wires": [
            [
                "c65ecd67a1c99ccf"
            ]
        ]
    },
    {
        "id": "183c255fc08f5236",
        "type": "change",
        "z": "5d81d50e014fd538",
        "name": "add topic",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "temperture",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 300,
        "wires": [
            [
                "c65ecd67a1c99ccf"
            ]
        ]
    },
    {
        "id": "fd897d208ec3612a",
        "type": "inject",
        "z": "5d81d50e014fd538",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 90,
        "y": 200,
        "wires": [
            [
                "3234f3ae83c3cacf",
                "d0ad1570f38be01e",
                "a4a16afb7ad19c51"
            ]
        ]
    },
    {
        "id": "8bb1f3c98c9cf7b5",
        "type": "link out",
        "z": "5d81d50e014fd538",
        "name": "link out 1",
        "mode": "link",
        "links": [
            "5a9f14115eacfb7c",
            "b11f9de0718e0975",
            "6059d06d4e0e6155",
            "f67ce607a9e0c874"
        ],
        "x": 905,
        "y": 200,
        "wires": []
    },
    {
        "id": "5a9f14115eacfb7c",
        "type": "link in",
        "z": "5d81d50e014fd538",
        "name": "link in 1",
        "links": [
            "8bb1f3c98c9cf7b5"
        ],
        "x": 255,
        "y": 420,
        "wires": [
            [
                "6f855d0e7b4856f6"
            ]
        ]
    },
    {
        "id": "6f855d0e7b4856f6",
        "type": "function",
        "z": "5d81d50e014fd538",
        "name": "function 2",
        "func": "if(msg.payload.smoke===0){\n    msg.payload.color =\"#008000\"; //\"green\";\n}else{\n    msg.payload.color = \"#b22222\"; // \"firebrick\";\n}\nmsg.topic = \"e1@cx_color\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 420,
        "wires": [
            [
                "151dc2ed8b35453e"
            ]
        ]
    },
    {
        "id": "151dc2ed8b35453e",
        "type": "ui_template",
        "z": "5d81d50e014fd538",
        "group": "d5323f44ca2adf10",
        "name": "煙霧顯示",
        "order": 7,
        "width": 1,
        "height": 2,
        "format": "<div id=\"graphics\" ng-init=\"checkSVG()\">\n    <p id=\"e1_text\">煙霧</p>\n    <svg xmlns=\"http://www.w3.org/2000/svg\" xmlns:xlink=\"http://www.w3.org/1999/xlink\" x=\"0\" y=\"0\" height=\"34\"\n        viewBox=\"0 0 34 34\" width=\"34\" preserveAspectRatio=\"xMidYMid meet\">\n        <circle id=\"e1_circle\" cx=\"17\" cy=\"17\" style=\"fill:green;stroke-width:0px;overflow:hidden\" r=\"16\" />\n    </svg>\n    <script>\n        (function($scope) {\n                $scope.$watch('msg', function() {\n                    if (!$scope.msg) return;\n                    const color=$scope.msg.payload?.color;\n                    const topic=$scope.msg.topic;\n                    if (color === undefined || color === null ||\n                        !topic || typeof topic !== 'string' || !topic.includes('@')) return;\n                    const id = topic.split('@')[0], cxType = topic.split('@')[1];\n                    document.getElementById(id+\"_circle\").style.fill=color;\n                    document.getElementById(id+\"_text\").style.cssText = `color:${color} !important;font-weight:bold` ;\n                });\n            })(scope);\n    </script>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 500,
        "y": 420,
        "wires": [
            [
                "3a528938f6ccd11c"
            ]
        ]
    },
    {
        "id": "3a528938f6ccd11c",
        "type": "debug",
        "z": "5d81d50e014fd538",
        "name": "debug 9",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 420,
        "wires": []
    },
    {
        "id": "b11f9de0718e0975",
        "type": "link in",
        "z": "5d81d50e014fd538",
        "name": "link in 2",
        "links": [
            "8bb1f3c98c9cf7b5"
        ],
        "x": 255,
        "y": 480,
        "wires": [
            [
                "13fe047bf111013c"
            ]
        ]
    },
    {
        "id": "13fe047bf111013c",
        "type": "function",
        "z": "5d81d50e014fd538",
        "name": "溫度",
        "func": "msg.payload = msg.payload.temperture;\nmsg.topic = \"temperture\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 480,
        "wires": [
            [
                "07487cf546cb84f5"
            ]
        ]
    },
    {
        "id": "a39d6d71329df9c6",
        "type": "debug",
        "z": "5d81d50e014fd538",
        "name": "debug 10",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 480,
        "wires": []
    },
    {
        "id": "07487cf546cb84f5",
        "type": "ui_chart",
        "z": "5d81d50e014fd538",
        "name": "",
        "group": "d5323f44ca2adf10",
        "order": 3,
        "width": 11,
        "height": 5,
        "label": "溫度",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "-10",
        "ymax": "50",
        "removeOlder": "2",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 490,
        "y": 480,
        "wires": [
            [
                "a39d6d71329df9c6"
            ]
        ]
    },
    {
        "id": "6059d06d4e0e6155",
        "type": "link in",
        "z": "5d81d50e014fd538",
        "name": "link in 3",
        "links": [
            "8bb1f3c98c9cf7b5"
        ],
        "x": 255,
        "y": 540,
        "wires": [
            [
                "e74cd7d63c3bf415"
            ]
        ]
    },
    {
        "id": "e74cd7d63c3bf415",
        "type": "function",
        "z": "5d81d50e014fd538",
        "name": "CO",
        "func": "msg.payload = msg.payload.CO;\nmsg.topic = \"CO\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 540,
        "wires": [
            [
                "fdb2fa0036b2567c"
            ]
        ]
    },
    {
        "id": "a0b6178a7d912927",
        "type": "debug",
        "z": "5d81d50e014fd538",
        "name": "debug 11",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 540,
        "wires": []
    },
    {
        "id": "fdb2fa0036b2567c",
        "type": "ui_chart",
        "z": "5d81d50e014fd538",
        "name": "",
        "group": "d5323f44ca2adf10",
        "order": 11,
        "width": 14,
        "height": 4,
        "label": "CO(ppm)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "50",
        "removeOlder": "2",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 500,
        "y": 540,
        "wires": [
            [
                "a0b6178a7d912927"
            ]
        ]
    },
    {
        "id": "9e0cbe124332ed39",
        "type": "ui_text",
        "z": "5d81d50e014fd538",
        "group": "d5323f44ca2adf10",
        "order": 5,
        "width": 3,
        "height": 2,
        "name": "",
        "label": "status",
        "format": "<font face='arial'><font size=6><font color={{msg.payload.color}}>{{msg.payload.message}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 690,
        "y": 740,
        "wires": []
    },
    {
        "id": "f67ce607a9e0c874",
        "type": "link in",
        "z": "5d81d50e014fd538",
        "name": "link in 4",
        "links": [
            "8bb1f3c98c9cf7b5"
        ],
        "x": 255,
        "y": 600,
        "wires": [
            [
                "ce5e7ec222ce37c4"
            ]
        ]
    },
    {
        "id": "91182cd1ee6bb072",
        "type": "mqtt in",
        "z": "5d81d50e014fd538",
        "name": "",
        "topic": "/rpi/CO",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "654c532714216822",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 590,
        "y": 100,
        "wires": [
            [
                "ad0d828f2d1c576a",
                "0440f91ba7dbb3c5"
            ]
        ]
    },
    {
        "id": "0440f91ba7dbb3c5",
        "type": "function",
        "z": "5d81d50e014fd538",
        "name": "convert data",
        "func": "let {ppm,temp}=msg.payload;\n\nmsg.payload = {smoke:0,CO:ppm,temperture:temp};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 160,
        "wires": [
            [
                "8bb1f3c98c9cf7b5"
            ]
        ]
    },
    {
        "id": "28f138029255fbe1",
        "type": "link out",
        "z": "5d81d50e014fd538",
        "name": "master room status",
        "mode": "link",
        "links": [
            "c97ad871543274fa"
        ],
        "x": 655,
        "y": 700,
        "wires": []
    },
    {
        "id": "e2ca030976587723",
        "type": "finite-state-machine",
        "z": "5d81d50e014fd538",
        "name": "",
        "fsmDefinition": "{\"state\":{\"status\":\"Normal\",\"data\":{\"x\":5}},\"transitions\":{\"Normal\":{\"temperture\":\"Fire\",\"CO\":\"CO too High\",\"smoke\":\"Smoke Detected\",\"temperture_CO\":\"Fire\",\"temperture_smoke\":\"Fire\",\"CO_smoke\":\"Potential Fire\",\"temperture_CO_smoke\":\"Fire\",\"test\":\"Fire\",\"normal\":\"Normal\",\"expire\":\"Normal\",\"reset\":\"Normal\"},\"Fire\":{\"temperture\":\"Fire\",\"CO\":\"Fire\",\"smoke\":\"Fire\",\"temperture_CO\":\"Fire\",\"temperture_smoke\":\"Fire\",\"CO_smoke\":\"Fire\",\"temperture_CO_smoke\":\"Fire\",\"test\":\"Fire\",\"normal\":\"Fire\",\"expire\":\"Fire\",\"reset\":\"Normal\"},\"CO too High\":{\"temperture\":\"Fire\",\"CO\":\"CO too High\",\"smoke\":\"Potential Fire\",\"temperture_CO\":\"Fire\",\"temperture_smoke\":\"Fire\",\"CO_smoke\":\"Potential Fire\",\"temperture_CO_smoke\":\"Fire\",\"normal\":\"CO too High\",\"expire\":\"Normal\",\"reset\":\"Normal\"},\"Smoke Detected\":{\"temperture\":\"Fire\",\"CO\":\"Potential Fire\",\"smoke\":\"Smoke Detected\",\"temperture_CO\":\"Fire\",\"temperture_smoke\":\"Fire\",\"CO_smoke\":\"Potential Fire\",\"temperture_CO_smoke\":\"Fire\",\"normal\":\"Smoke Detected\",\"expire\":\"Normal\",\"reset\":\"Normal\"},\"Potential Fire\":{\"temperture\":\"Fire\",\"CO\":\"Potential Fire\",\"smoke\":\"Potential Fire\",\"temperture_CO\":\"Fire\",\"temperture_smoke\":\"Fire\",\"CO_smoke\":\"Potential Fire\",\"temperture_CO_smoke\":\"Fire\",\"normal\":\"Potential Fire\",\"expire\":\"Normal\",\"reset\":\"Normal\"}}}",
        "sendInitialState": false,
        "sendStateWithoutChange": false,
        "showTransitionErrors": true,
        "x": 310,
        "y": 740,
        "wires": [
            [
                "0de9fb5ad7536385",
                "f747314afabc75a1"
            ]
        ]
    },
    {
        "id": "ce5e7ec222ce37c4",
        "type": "function",
        "z": "5d81d50e014fd538",
        "name": "check transition to FSM",
        "func": "const TEMP_ERROR_LIMIT = 40; // in C\nconst CO_ERROR_LIMIT = 15; // in ppm\n\nconst { smoke, temperture, CO } = msg.payload;\nmsg.topic = \"\"\nmsg.data = {smoke, temperture, CO}\nmsg.control = {}\n\nif (temperture >= TEMP_ERROR_LIMIT) {\n    msg.topic += \"temperture\";\n}\nif (CO >= CO_ERROR_LIMIT) {\n    if (msg.topic !== \"\") msg.topic += \"_\";\n    msg.topic += \"CO\";\n}\nif (smoke === 1) {\n    if (msg.topic !== \"\") msg.topic += \"_\";\n    msg.topic += \"smoke\";\n} \nif (msg.topic===\"\"){\n    msg.topic = \"normal\";\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 600,
        "wires": [
            [
                "e2ca030976587723",
                "c230980c36ab2fc0"
            ]
        ]
    },
    {
        "id": "09c9ae8808dfa4d8",
        "type": "debug",
        "z": "5d81d50e014fd538",
        "name": "state",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 820,
        "wires": []
    },
    {
        "id": "c230980c36ab2fc0",
        "type": "debug",
        "z": "5d81d50e014fd538",
        "name": "trasition",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 600,
        "wires": []
    },
    {
        "id": "a38a242826c87063",
        "type": "inject",
        "z": "5d81d50e014fd538",
        "name": "reset",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "reset",
        "payload": "",
        "payloadType": "date",
        "x": 90,
        "y": 740,
        "wires": [
            [
                "e2ca030976587723"
            ]
        ]
    },
    {
        "id": "0de9fb5ad7536385",
        "type": "function",
        "z": "5d81d50e014fd538",
        "name": "function 3",
        "func": "msg.state_color = {\n    \"Normal\": \"green\",\n    \"Fire\": \"red\",\n    \"CO too High\": \"orange\",\n    \"Smoke Detected\": \"orange\",\n    \"Potential Fire\": \"orange\"\n}\nmsg.payload = {\n    place: \"masterroom\",\n    message: msg.payload.status,\n    color: msg.state_color[msg.payload.status]\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 740,
        "wires": [
            [
                "09c9ae8808dfa4d8",
                "9e0cbe124332ed39",
                "28f138029255fbe1",
                "854d5a5289f818a4"
            ]
        ]
    },
    {
        "id": "f747314afabc75a1",
        "type": "debug",
        "z": "5d81d50e014fd538",
        "name": "debug 14",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 820,
        "wires": []
    },
    {
        "id": "8d82b3a2c811b0c4",
        "type": "line-notify",
        "z": "5d81d50e014fd538",
        "name": "test YCK",
        "message": "",
        "contentType": "message",
        "imageThumbnail": "",
        "imageUrl": "",
        "sticker": "default",
        "stickerPackageId": "1",
        "stickerId": "1",
        "silent": false,
        "creds": "63115de6b1972cd9",
        "x": 980,
        "y": 920,
        "wires": [
            []
        ]
    },
    {
        "id": "b72fd14bdf217421",
        "type": "inject",
        "z": "5d81d50e014fd538",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 270,
        "y": 920,
        "wires": [
            [
                "854d5a5289f818a4"
            ]
        ]
    },
    {
        "id": "854d5a5289f818a4",
        "type": "rbe",
        "z": "5d81d50e014fd538",
        "name": "block the same value",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 600,
        "y": 920,
        "wires": [
            [
                "7434a63943691d7e"
            ]
        ]
    },
    {
        "id": "7434a63943691d7e",
        "type": "function",
        "z": "5d81d50e014fd538",
        "name": "modify message",
        "func": "// TODO: after added as new node please moodify place name\nconst place = \"master room\" \nif (msg.payload.message==\"Normal\"){\n    return;\n}\nmsg.payload = \"\\n注意！\\n\" + place + \": \" + msg.payload.message\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 920,
        "wires": [
            [
                "8d82b3a2c811b0c4"
            ]
        ]
    },
    {
        "id": "402ab7034114c882",
        "type": "ui_ui_control",
        "z": "5d81d50e014fd538",
        "name": "navigation",
        "events": "all",
        "x": 530,
        "y": 1020,
        "wires": [
            []
        ]
    },
    {
        "id": "70d118719082a0ec",
        "type": "ui_template",
        "z": "5d81d50e014fd538",
        "group": "d5323f44ca2adf10",
        "name": "Back Home",
        "order": 2,
        "width": 3,
        "height": 1,
        "format": "<md-button class=\"vibrate filled touched smallfont rounded\" style=\"background-color:#e67e22\"\n    ng-click=\"send({payload: 'Home'})\">\n    Back\n</md-button>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 370,
        "y": 1020,
        "wires": [
            [
                "402ab7034114c882"
            ]
        ]
    },
    {
        "id": "60e550dd6aa84afd",
        "type": "ui_template",
        "z": "5d81d50e014fd538",
        "group": "d5323f44ca2adf10",
        "name": "button css",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<style>\n  * {\n      overflow: hidden;\n  }\n  .filled { \n      height: 70% !important;\n      width: 90% !important;\n      padding: 0 !important;\n      margin: 4% !important;\n  }\n  .nr-dashboard-template {\n      padding: 0;\n      margin: 0;\n  }\n  \n  .rounded {\n  border-radius: 12px 12px 12px 12px;\n}\n \n   .bigfont {\n  font-size: 18px;\n}\n\n   .smallfont {\n  font-size: 12px;\n}\n  \n</style>\n\n<script>\n$('.vibrate').on('click', function() {\n  navigator.vibrate(100);\n});\n\nfunction restore_bg(x) {\n            $(this).css(\"background-color\", x);\n    };\n\n$('.touched').on('mousedown', function() {\n    \n    var x= $(this).css(\"background-color\");\n    $(this).css(\"background-color\", \"yellow\");\n    \n    setTimeout(restore_bg.bind(this,x),100);\n    navigator.vibrate(80);\n    });\n    \n</script>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 190,
        "y": 1020,
        "wires": [
            []
        ]
    },
    {
        "id": "a87277605f306d49",
        "type": "ui_template",
        "z": "5d81d50e014fd538",
        "group": "d5323f44ca2adf10",
        "name": "power icon",
        "order": 4,
        "width": 3,
        "height": 1,
        "format": "<img id=\"charging\" style=\"position:absolute; height: 25px; width: 25px;display: none\" src=\"https://img95.699pic.com/xsj/13/bg/34.jpg!/fh/300\">\n<img id=\"charging\" style=\"position:absolute; height: 25px; width: 25px;display: block\" src=\"https://thumb.silhouette-ac.com/t/d5/d5d4136a1561f13778f2585b20f1d878_t.jpeg\">",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 370,
        "y": 1060,
        "wires": [
            []
        ]
    },
    {
        "id": "65dc4aeba2638535",
        "type": "inject",
        "z": "5d81d50e014fd538",
        "name": "normal",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"smoke\":0,\"CO\":8,\"temperture\":30}",
        "payloadType": "json",
        "x": 680,
        "y": 240,
        "wires": [
            [
                "1bcefb649c0c7372"
            ]
        ]
    },
    {
        "id": "005486673e970eb7",
        "type": "inject",
        "z": "5d81d50e014fd538",
        "name": "smoke",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"smoke\":1,\"CO\":8,\"temperture\":30}",
        "payloadType": "json",
        "x": 670,
        "y": 280,
        "wires": [
            [
                "1bcefb649c0c7372"
            ]
        ]
    },
    {
        "id": "fefac534eb4ecdc2",
        "type": "inject",
        "z": "5d81d50e014fd538",
        "name": "CO",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"smoke\":0,\"CO\":15,\"temperture\":30}",
        "payloadType": "json",
        "x": 670,
        "y": 320,
        "wires": [
            [
                "1bcefb649c0c7372"
            ]
        ]
    },
    {
        "id": "30e996c65594cf24",
        "type": "inject",
        "z": "5d81d50e014fd538",
        "name": "fire",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"smoke\":0,\"CO\":15,\"temperture\":45}",
        "payloadType": "json",
        "x": 670,
        "y": 360,
        "wires": [
            [
                "1bcefb649c0c7372"
            ]
        ]
    },
    {
        "id": "1bcefb649c0c7372",
        "type": "delay",
        "z": "5d81d50e014fd538",
        "name": "",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 830,
        "y": 300,
        "wires": [
            [
                "8bb1f3c98c9cf7b5"
            ]
        ]
    },
    {
        "id": "838f2d8bc711e907",
        "type": "link in",
        "z": "5d81d50e014fd538",
        "name": "all reset",
        "links": [
            "1765ee585273167c"
        ],
        "x": 85,
        "y": 800,
        "wires": [
            [
                "e2ca030976587723"
            ]
        ]
    }
]